<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Listado
      <small>{{modulo}}</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/admin']">
          <i class="fa fa-dashboard"></i> Inicio</a>
      </li>

      <li class="active">
        <a [routerLink]="['/admin/companiasreaseguradoras/aseguradoras/list']">{{modulo}}</a>
      </li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <div class="row">

              <div class="col-sm-12 col-md-12">
                <nav id="mymenu">
                  <label for="tm" id="toggle-menu">Menu
                    <span class="drop-icon">▾</span>
                  </label>
                  <input type="checkbox" id="tm">
                  <ul class="main-menu cf">
          
                    <li>
                      <a href="javascript:void(0)" class="btn-info shadow-box-item">Crear Aseguradora
                        <span class="fav fa fa-circle"> </span>
                        <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
                      </a>
                      <input type="checkbox" id="sm1">
                      <ul class="sub-menu">
                        <li>
                          <a [routerLink]="['/admin/companiasreaseguradoras/aseguradoras/registrar', 'Seguros generales']">Seguros generales (13)
                          </a>
                        </li> 
                        <li>
                          <a [routerLink]="['/admin/companiasreaseguradoras/aseguradoras/registrar', 'Seguros de vida']">Seguros de vida (14)
                          </a>
                        </li>
                        <li>
                          <a [routerLink]="['/admin/companiasreaseguradoras/aseguradoras/registrar', 'Cooperativas']">Cooperativas (15)
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="btn-info custom-padding shadow-box-item"> Filtrar: &nbsp;
                        <select class="color-fixed">
                          <option>Seguros generales (13)</option>
                          <option>Seguros de vida (14)</option>
                          <option>Cooperativas (15)</option>
                        </select>
                      </a>
                    </li>

                    <li class="f-right">
                      <a [routerLink]="['/admin/companiasreaseguradoras/aseguradoras/upload']"  class="btn-info shadow-box-item">Actualizar Aseguradoras
                        <span class="fav fa fa-circle"> </span>
                      </a>
                    </li>

                  </ul>
                </nav>
                <!-- NAV BAR -->
              </div>

            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">


            
            <div class="table-responsive">

            <table id="myData" style="display: none" class="row-border hover">
              <thead>
                <tr>
                  <th>Codigo Aseguradora</th>
                  <th>Nombre Abreviado</th>
                  <th>Razón Social</th>
                  <th>Entidad</th>
                  <th>Contacto</th>
                  <th>Teléfono</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
            
                <tr *ngFor="let item of ls | async">
                  <td>{{item.cod}}</td>
                  <td>{{item.c}}</td>
                  <td>{{item.a2}}</td>
                  <td>{{item.nc}}</td>
                  <td>{{item.n}}</td>
                  <td>{{item.c2}}</td>
                  <td>
            
                    <i data-toggle="modal" data-target="#myModal2" class="fa fa-edit cursor btn-header cursor_active"></i>
                    <i data-toggle="modal" data-target="#myModal" class="fa fa-paperclip cursor btn-header cursor_active"></i>
                    <i class="fa fa-trash cursor btn-header cursor_active"></i>
            
                  </td>
                </tr>
            
            
              </tbody>
            </table>



              

            </div>
            <!-- /.table-responsive -->

  
           
          


          </div>
          <!-- /.box-body -->

          <div class="box-footer clearfix">
            <a [routerLink]="['/admin']" class="btn btn-lg btn-default btn-flat pull-left shadow-box-item">Regresar
              <i class="favb fa fa-circle"></i>
            </a>
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>

  </section>


  <!-- /.content -->
</div>







<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header  box box-info">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title font-header" id="myModalLabel">Datos Bancarios</h4>
      </div>
      <div class="modal-body">

        <form>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Titular / Owner </label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Titular / Owner">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputEmail4">Número de cuenta / Account Number</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Número de cuenta / Account Number">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Moneda / Currency</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Moneda / Currency">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">ABA / SWIFT</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="ABA / SWIFT">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Banco / Bank </label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Banco / Bank">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Pais / Country</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Pais / Country">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Ciudad / City</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Ciudad / City">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Certificación / Certification</label>
                <input type="file" class="form-control" id="inputEmail4" placeholder="Certificación">
              </div>
            </div>
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>