<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Formulario
      <small>{{modulo}}</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/admin']">
          <i class="fa fa-dashboard"></i> Inicio</a>
      </li>

      <li class="active">
        <a [routerLink]="['contratos/automaticos/proporcionales/cuota-parte']">{{modulo}}</a>
      </li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">



    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title" style="font-weight: bold">
              {{modulo}}
              <span *ngIf="item.c">: {{cod}} </span>
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">



              <div class="content">


                <form [formGroup]="cuotaParteForm">
                  <!--  <pre>
                    {{cuotaParteForm.value|json}}
                  </pre>-->
                  
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="mn">Código Contrato</label>
                        <input type="text" class="form-control" name="codigocontrato" id="codigocontrato" placeholder="Código Contrato" value="{{cod}}" formControlName="codigocontrato">
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="">Descripción</label>
                        <input type="text" class="form-control" placeholder="Descripción" formControlName="descripcion">
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                      <div class="form-group">
                        <label for="">Fecha Inicio</label>
                        <div class="input-group">
                          <input class="form-control" placeholder="dd/mm/yyyy" name="dp" (change)="fecha('fini')" formControlName="fechaInicio" ngbDatepicker
                            #a="ngbDatepicker">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="a.toggle()" type="button">
                              <i class="fa fa-calendar"></i>
                            </button>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="col-xs-12 col-md-3">
                      <div class="form-group">
                        <label for="ff">Fecha Fin</label>
                        <div class="input-group">
                          <input class="form-control" placeholder="dd/mm/yyyy" name="dp" (change)="fecha('fini')" formControlName="fechaFin" ngbDatepicker
                            #d="ngbDatepicker">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                              <i class="fa fa-calendar"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="mn">Moneda</label>
                        <select [(ngModel)]="selectMoneda" class="form-control" formControlName="moneda">
                          <option *ngFor="let item of currency | async" value="{{item.a}}">{{item.c}}</option>
                        </select>

                      </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="s">Siniestros de Contado</label>
                        <input type="text" class="form-control" formControlName="siniestroContrato" placeholder="Siniestros de Contado">

                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <div class="form-group">
                        <label for="o">Observaciones</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <div class="form-group">
                        <textarea style="width:100%" formControlName="observacion" cols="30" rows="10"></textarea>
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class=" col-xs-12 col-md-12">
                      <table class="table hoverTable ">
                        <thead>
                          <tr>
                            <th>Contrato</th>
                            <th>Suma Limite</th>
                            <th>% Cesión</th>
                            <th>Nómina Reaseguradores</th>
                            <th>% Reas</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr formGroupName="tb1">
                            <td> 1</td>
                            <td>
                              <input class="input-phantom" formControlName="sumaLimite">
                            </td>
                            <td>
                              <input class="input-phantom" formControlName="secion">
                            </td>
                            <td class="cursor_active" (click)="goDetail('tb1')"> </td>
                            <td>
                              <input class="input-phantom" formControlName="reas">
                            </td>
                          </tr>

                          <tr formGroupName="tb2">
                            <td> 2</td>
                            <td>
                              <input class="input-phantom" formControlName="sumaLimite2">
                            </td>
                            <td>
                              <input class="input-phantom" formControlName="secion2">
                            </td>
                            <td class="cursor_active" (click)="goDetail('tb2')"> </td>
                            <td>
                              <input class="input-phantom" formControlName="reas2">
                            </td>
                          </tr>

                          <tr formGroupName="tb3">
                            <td> 3</td>
                            <td>
                              <input class="input-phantom" formControlName="sumaLimite3">
                            </td>
                            <td>
                              <input class="input-phantom" formControlName="secion3">
                            </td>
                            <td class="cursor_active" (click)="goDetail('tb3')"> </td>
                            <td>
                              <input class="input-phantom" formControlName="reas3">
                            </td>
                          </tr>

                        </tbody>
                      </table>


                    </div>
                  </div>
                  <button type="button" class="btn btn-alert btn-md shadow-box-item">
                    Regresar
                    <i class="favb fa fa-circle"></i>
                  </button>
                  <button type="submit" (click)="submitForm()" class="btn btn-primary" class="btn btn-info margin-left btn-md shadow-box-item">
                    Guardar Cambios
                    <i class="favb fa fa-circle"></i>
                  </button>

                </form>

              </div>



            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->

          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>

  </section>

  <!-- Modal -->

  <!-- /.content -->
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header  box box-info">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title font-header" id="myModalLabel">Datos Bancarios</h4>
      </div>
      <div class="modal-body">

        <form>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Titular / Owner </label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Titular / Owner">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputEmail4">Número de cuenta / Account Number</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Número de cuenta / Account Number">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Moneda / Currency</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Moneda / Currency">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">ABA / SWIFT</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="ABA / SWIFT">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Banco / Bank </label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Banco / Bank">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Pais / Country</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Pais / Country">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Ciudad / City</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Ciudad / City">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Certificación / Certification</label>
                <input type="file" class="form-control" id="inputEmail4" placeholder="Certificación">
              </div>
            </div>
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" (click)='submit()' class="btn btn-primary" data-dismiss="modal">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
