<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Formulario
      <small>{{modulo}}</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/admin']">
          <i class="fa fa-dashboard"></i> Inicio</a>
      </li>

      <li class="active">
        <a [routerLink]="['/admin/companiasreaseguradoras/reacoex/upload']">{{modulo}}</a>
      </li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">



    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title font-header">
              {{modulo}}
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">


            <div class="content">

              <form [formGroup]="f" novalidate>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group has-feedback" [ngClass]="{'has-success': f.controls['typeFileInput'].valid && f.controls['inputFile'].valid, 'has-error': f.controls['inputFile'].invalid && (f.controls['inputFile'].touched
  || f.controls['inputFile'].dirty ||  f.controls['typeFileInput'].invalid )}">

                      <!--<input type="file" class="form-control" id="inputFile" name="inputFile" formControlName="inputFile" placeholder="Seleccionar Archivo"
                        (change)="handleFileInput($event)" accept=".xls,.xlsx">-->
                        <input-file
                        inputId="images-minimal"
                        inputMaxFiles="1"
                        [(model)]="inputFileModel"
                        (acceptedFile)="onAccept($event)"
                        (removedFile)="onRemove($event)"
                        inputAccept=".xlsx,.xls"
                        >
                    </input-file>
                    <!--
                      <input type="hidden" id="typeFileInput" name="typeFileInput" formControlName="typeFileInput" />

                      <span *ngIf="f.controls['inputFile'].valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                      <span *ngIf="f.controls['inputFile'].invalid && (f.controls['inputFile'].touched || f.controls['inputFile'].dirty || f.controls['typeFileInput'].invalid)">
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <span class="text-danger">Solo se permiten archivos de excel (xls, xlsx).</span>
                      </span>-->



                    </div>
                  </div>
                </div>

                <div class="row">

                  <div class="col-sm-4 ">
                    <div class="form-group ">
                      <button (click)="SendFile()" ng-disabled="f.controls['inputFile'].valid && f.controls['typeFileInput'].valid" [ngClass]="{'btn-info': f.controls['inputFile'].valid && f.controls['typeFileInput'].valid, 'btn-default': f.controls['inputFile'].invalid && f.controls['typeFileInput'].invalid }"
                        type="button" class="btn btn-info margin-left btn-md shadow-box-item">
                        Actualizar
                        <i class="favb fa fa-circle">
                        </i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>

              <div class="clearfix"></div>
              <hr>
              <div class="clearfix"></div>
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a href="#reacoexcorredor" aria-controls="reacoexcorredor" role="tab" data-toggle="tab" class=" font-header  font-uppercase">Reacoex Corredor</a>
                </li>
                <li role="presentation">
                  <a href="#reacoexreaseguradora" aria-controls="reacoexreaseguradora" role="tab" data-toggle="tab" class=" font-header font-uppercase">Reacoex Reaseguradora</a>
                </li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="reacoexcorredor">

                  <div class="content">
                    <div class="row">
                      <div class="col-sm-12 text-center text-upercase">
                        <h4 class="font-header">
                          SUPERINTENDENCIA FINANCIERA DE COLOMBIA
                          <br> DELEGATURA PARA SEGUROS
                          <br> REGISTRO DE REASEGURADORES Y CORREDORES DE REASEGUROS DEL EXTERIOR
                          <br> LISTADO DE REASEGURADORES DEL EXTERIOR
                        </h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12  col-md-10 col-md-offset-1">

                        <table datatable [dtOptions]="dtOptions" class="hover table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">Corredores</th>
                              <th class="text-center">Pais</th>
                              <th class="text-center">Actualización</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>AIG GLOBAL REINSURANCE OPERATIONS</td>
                              <td class="text-center">BELGICA</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>ALWEN HOUGH JOHNSON LIMITED</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2016</td>
                            </tr>
                            <tr>
                              <td>AON BENFIELD ARGENTINA S.A.</td>
                              <td class="text-center">ARGENTINA</td>
                              <td class="text-center">Inscrito 25/08/2017</td>
                            </tr>
                            <tr>
                              <td>AON UK LIMITED</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2016</td>
                            </tr>
                            <tr>
                              <td>ARG GROUP S.A.</td>
                              <td class="text-center">ARGENTINA</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>ARTHUR J. GALLAGHER (UK) LIMITED</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>ATLANTIC WHOLESALE BROKERS CORREDURIA DE SEGUROS Y REASEGUROS, S.L.</td>
                              <td class="text-center">ESPAÑA</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>BOSTON MARKS INSURANCE BROKERS LTD ( Antes BOSTON MARKS INSURANCE BROKERS (LONDON) LIMITED)</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2017</td>
                            </tr>
                            <tr>
                              <td>BGI BERTIL GRIMME AG INSURANCE BROKERS</td>
                              <td class="text-center">SUIZA</td>
                              <td class="text-center">Actualizado 2017</td>
                            </tr>
                            <tr>
                              <td>BUTCHER ROBINSON & STAPLES INTERNATIONAL LIMITED</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2017</td>
                            </tr>
                            <tr>
                              <td>COLEMONT INSURANCE BROKERS LIMITED</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">SUSPENDIDO</td>
                            </tr>
                            <tr>
                              <td>COLOMBIAN INSURANCE BROKING WHOLESALE LIMITED (antes HEATHCOL LIMITED)</td>
                              <td class="text-center">ISLAS CAIMAN</td>
                              <td class="text-center">CANCELADO</td>
                            </tr>
                            <tr>
                              <td>COMBINED INTERMEDIARIO DE REASEGURO S.A.</td>
                              <td class="text-center">ECUADOR</td>
                              <td class="text-center">Actualizado 2017</td>
                            </tr>
                            <tr>
                              <td>CONO SUR RE CORREDORES DE REASEGUROS LTDA (Antes CONO SUR RE CORREDORES DE REASEGUROS S.A.)</td>
                              <td class="text-center">CHILE</td>
                              <td class="text-center">Actualizado 2016</td>
                            </tr>
                            <tr>
                              <td>COOPER GAY CO LTD</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2015</td>
                            </tr>
                            <tr>
                              <td>COOPER GAY ECUADOR C.A. INTERMEDIARIO DE REASEGUROS</td>
                              <td class="text-center">ECUADOR</td>
                              <td class="text-center">CANCELADO</td>
                            </tr>
                            <tr>
                              <td>DASHWOOD BREWER & PHIPPS LIMITED</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2014</td>
                            </tr>
                            <tr>
                              <td>EURO AMERICAN RE ECUADOR C.A. INTERMEDIARIO DE REASEGUROS</td>
                              <td class="text-center">ECUADOR</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>FIRST REINSURANCE SERVICE CORP</td>
                              <td class="text-center">U.S.A.</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>GLOBAL REINSURANCE BROKERS INC.</td>
                              <td class="text-center">U.S.A.</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>HOWDEN INSURANCE BROKERS LIMITED</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2013</td>
                            </tr>
                            <tr>
                              <td>HOWDEN UK GROUP LIMITED antes (RK HARRISON GROUP LIMITED (LONDRES))</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>H.W. WOOD LIMITED</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2015</td>
                            </tr>
                            <tr>
                              <td>INSYNC REINSURANCE INTERMEDIARIES, INC</td>
                              <td class="text-center">U.S.A.</td>
                              <td class="text-center">CANCELADO </td>
                            </tr>
                            <tr>
                              <td>INTEGRO INSURANCE BROKERS LIMITED</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>INTERNATIONAL REINSURANCE BROKERS SOLUTIONS, LLC (INTERBROS)</td>
                              <td class="text-center">U.S.A.</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>INTREPID INSURANCE BROKERS LIMITED</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>IRIS DEL ECUADOR S.A.</td>
                              <td class="text-center">ECUADOR</td>
                              <td class="text-center">Actualizado 2017</td>
                            </tr>
                            <tr>
                              <td>JLT COLOMBIA WHOLESALE LIMITED</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>JLT REINSURANCE BROKERS LIMITED</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>JLT SPECIALTY LIMITED ( AntesJARDINE LLOYD THOMPSON LIMITED)</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>JOHN L. WORTHAM & Son L.P.</td>
                              <td class="text-center">U.S.A.</td>
                              <td class="text-center">Actualizado 2015</td>
                            </tr>
                            <tr>
                              <td>LENIX REINSURANCE INTERMEDIARIES, LLC</td>
                              <td class="text-center">U.S.A.</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>LUCY A. RAYMOND & SONS LIMITED</td>
                              <td class="text-center">REINO UNIDO</td>
                              <td class="text-center">Actualizado 2017</td>
                            </tr>
                            <tr>
                              <td>LOCKTON COMPANIES LLP</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>LLOYD & PARTNERS LTD</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2017</td>
                            </tr>
                            <tr>
                              <td>MALAKUT REINSURANCE BROKERS</td>
                              <td class="text-center">PANAMÁ</td>
                              <td class="text-center">Actualizado 2016</td>
                            </tr>
                            <tr>
                              <td>MANNING WILLIAMS LIMITED</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">SUSPENDIDO</td>
                            </tr>
                            <tr>
                              <td>MARSH LIMITED</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>MEXBRIT LLC (antes MEXBRIT INC.)</td>
                              <td class="text-center">U.S.A.</td>
                              <td class="text-center">Actualizado 2017</td>
                            </tr>
                            <tr>
                              <td>MILENIUMRE INTERMEDIARIO DE REASEGUROS S.A.</td>
                              <td class="text-center">ECUADOR</td>
                              <td class="text-center">Inscrito 01/08/2017</td>
                            </tr>
                            <tr>
                              <td>MILLER INSURANCE SERVICES LLP</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>OLSA REASEGUROS, ASESORES Y CORREDORES DE REASEGUROS S.A.</td>
                              <td class="text-center">PERÚ</td>
                              <td class="text-center">Actualizado 2015</td>
                            </tr>
                            <tr>
                              <td>PRICE FORBES & PARTNERS LIMITED</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2017</td>
                            </tr>
                            <tr>
                              <td>PWS AMERICAS LLC</td>
                              <td class="text-center">U.S.A.</td>
                              <td class="text-center">SUSPENDIDO</td>
                            </tr>
                            <tr>
                              <td>REASINTER INTERMEDIARIO DE REASEGURO, S.A. de C.V.</td>
                              <td class="text-center">MÉXICO</td>
                              <td class="text-center">Actualizado 2017</td>
                            </tr>
                            <tr>
                              <td>REGAL RE SOCIEDAD DE CORRETAJE DE REASEGUROS C.A.</td>
                              <td class="text-center">VENEZUELA</td>
                              <td class="text-center">Actualizado 2017</td>
                            </tr>
                            <tr>
                              <td>RFIB GROUP LIMITED antes Robert Fleming</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2012</td>
                            </tr>
                            <tr>
                              <td>RISK MANAGEMENT</td>
                              <td class="text-center">FRANCIA</td>
                              <td class="text-center">Actualizado 2015</td>
                            </tr>
                            <tr>
                              <td>RKH SPECIALTY MIAMI LLC (antes HOWDEN INSURANCE, LLC.)</td>
                              <td class="text-center">U.S.A.</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>SWISS BROKERS MÉXICO, INTERMEDIARIO DE REASEGUROS S.A. DE C.V.</td>
                              <td class="text-center">MÉXICO</td>
                              <td class="text-center">Actualizado 2017</td>
                            </tr>
                            <tr>
                              <td>THOMPSON HEATH & BOND LIMITED</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2017</td>
                            </tr>
                            <tr>
                              <td>TYSER & CO. LTD.</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2018</td>
                            </tr>
                            <tr>
                              <td>UNITED INSURANCE BROKERS LIMITED</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2016</td>
                            </tr>
                            <tr>
                              <td>WILLIS LIMITED- (WILLIS FABER AND DUMAS LIMITED)</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">Actualizado 2017</td>
                            </tr>
                            <tr>
                              <td>WILLIS RE INC.- (WILLIS FABER NORTH AMERICAN)</td>
                              <td class="text-center">U.S.A.</td>
                              <td class="text-center">Actualizado 2017</td>
                            </tr>
                            <tr>
                              <td>WINDSOR PARTNERS LIMITED (antes WINDSOR INSURANCE BROKERS LIMITED)</td>
                              <td class="text-center">INGLATERRA</td>
                              <td class="text-center">CANCELADO</td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th class="text-center">Corredores</th>
                              <th class="text-center">Pais</th>
                              <th class="text-center">Actualización</th>
                            </tr>
                          </tfoot>
                        </table>

                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12  col-md-10 col-md-offset-1">

                      <button type="button" class="btn btn-info margin-left btn-md shadow-box-item">
                        Agregar Nuevo
                        <i class="favb fa fa-circle">
                        </i>
                      </button>
                      <br>
                      <br>
                    </div>
                  </div>

                </div>
                <div role="tabpanel" class="tab-pane fade" id="reacoexreaseguradora">

                  <div class="content">
                    <div class="row">
                      <div class="col-sm-12 text-center text-upercase">
                        <h4 class="font-header">
                          SUPERINTENDENCIA FINANCIERA DE COLOMBIA
                          <br> DELEGATURA PARA SEGUROS
                          <br> REGISTRO DE REASEGURADORES Y CORREDORES DE REASEGUROS DEL EXTERIOR
                          <br> LISTADO DE REASEGURADORES DEL EXTERIOR
                        </h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12  col-md-10 col-md-offset-1">

                        <table datatable [dtOptions]="dtOptions" class="hover table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center" rowspan="2">Corredores</th>
                              <th class="text-center" rowspan="2">Pais</th>
                              <th class="text-center" colspan="4"> Calificación</th>
                              <th class="text-center" rowspan="2"> OR</th>
                              <th class="text-center" rowspan="2">Actualización</th>
                            </tr>
                            <tr>
                              <th class="text-center">1</th>
                              <th class="text-center"> 2</th>
                              <th class="text-center">3</th>
                              <th class="text-center">4</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of reacodexResaguradores">
                                <td width="397">{{item.c}}</td>
                                <td width="96"> {{item.pc}} </td>
                                <td width="80">
                                  <span *ngIf="item.e == 1" >{{item.s}}</span>
                                  <span *ngIf="item.e != 1" >&nbsp;</span>
                                </td>
                                <td width="80">
                                    <span *ngIf="item.e == 2" >{{item.s}}</span>
                                    <span *ngIf="item.e != 2" >&nbsp;</span>
                                </td>
                                <td width="89">
                                    <span *ngIf="item.e == 3" >{{item.s}}</span>
                                    <span *ngIf="item.e != 3" >&nbsp;</span>
                                </td>
                                <td width="80">
                                    <span *ngIf="item.e == 4" >{{item.s}}</span>
                                    <span *ngIf="item.e != 4" >&nbsp;</span>
                                </td>
                                <td width="80">
                                    <span *ngIf="item.e == 5" >{{item.s}}</span>
                                    <span *ngIf="item.e != 5" >&nbsp;</span>
                                </td>
                                <td width="113"> {{item.r2}} </td>
                            </tr>

                          </tbody>
                          <tfoot>
                            <tr>
                              <th class="text-center" rowspan="2">Corredores</th>
                              <th class="text-center" rowspan="2">Pais</th>
                              <th class="text-center">1</th>
                              <th class="text-center">2</th>
                              <th class="text-center">3</th>
                              <th class="text-center">4</th>
                              <th class="text-center" rowspan="2"> OR</th>
                              <th class="text-center" rowspan="2">Actualización</th>
                            </tr>
                            <tr>
                              <th colspan="4" class="text-center">Calificación</th>
                            </tr>
                          </tfoot>
                        </table>

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12  col-md-10 col-md-offset-1">
                      <button type="button" class="btn btn-info margin-left btn-md shadow-box-item">
                        Agregar Nuevo
                        <i class="favb fa fa-circle">
                        </i>
                      </button>
                      <br>
                      <br>
                    </div>
                  </div>

                </div>
              </div>


              <br>
              <br>
              <button type="button" class="btn btn-alert btn-md shadow-box-item" onclick="history.go(-1);">
                Regresar
                <i class="favb fa fa-circle"></i>
              </button>


            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->


          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>

  </section>

  <!-- Modal -->

  <!-- /.content -->
</div>
