<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Listado
      <small>{{modulo}}</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/admin']">
          <i class="fa fa-dashboard"></i> Inicio</a>
      </li>

      <li class="active">
        <a [routerLink]="['/admin/ramos']">{{modulo}}</a>
      </li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">

            <div class="row">
              <div class="col-sm-12 col-md-12">

                <nav id="mymenu">
                  <label for="tm" id="toggle-menu">Menu
                    <span class="drop-icon">▾</span>
                  </label>
                  <input type="checkbox" id="tm">
                  <ul class="main-menu cf">
                    <li>
                      <button data-toggle="modal" data-target="#myModal" title="Nuevo Contrato " class="btn btn-info shadow-box-item">
                        <i class="fa fa-file-o"></i>
                      </button>
                    </li>

                    <!--         <li>
                      <a href="javascript:void(0)" class="btn-info shadow-box-item">Compa&ntilde;ia
                        <span class="fa fav fa-circle"></span>
                        <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
                      </a>
                      <input type="checkbox" id="sm1">
                      <ul class="sub-menu ">
                        <li>
                          <a  href="javascript:void(0)" >Generales
                          </a>
                        </li>
                            <li>
                              <a href="javascript:void(0)">Vida
                              </a>
                            </li>
                      </ul>
                    </li>


 <li>
              <a href="javascript:void(0)" class="btn-info shadow-box-item">Ajuste Contratos
                <span class="fa fav fa-circle">
                </span>
                <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
              </a>
              <input type="checkbox" id="sm1">
              <ul class="sub-menu">
                <li>
                  <a href="javascript:void(0)">No Proporcionales
                    <label title="Toggle Drop-down" class="drop-icon" for="sm2"> &nbsp; &nbsp;</label>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/admin/contratos/ajuste/sobrecomsion/new']" >Sobre Comisión
                    <label title="Toggle Drop-down" class="drop-icon" for="sm3"> &nbsp; &nbsp;</label>
                  </a>
                </li>

                <li>
                  <a href="javascript:void(0)">Participación Ultilidades
                    <label title="Toggle Drop-down" class="drop-icon" for="sm3"> &nbsp; &nbsp;</label>
                  </a>
                </li>
              </ul>
            </li>
             -->
                    <li class="f-right">
                      <a href="javascript:void(0)" onclick="history.go(-1)" class="btn-info shadow-box-item">Regresar
                        <span class="fav fa fa-circle"> </span>
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- NAV BAR -->
              </div>
            </div>






          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">


              <table id="myData" class="row-border hover" style="display: none">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Abreviatura</th>
                    <th>Ramo Técnico</th>
                    <th>Entidad</th>
                    <th>Ramo Superintendencia</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody id="trgt">
                <tr *ngFor="let item of list ">
                    <td>{{item.e}}</td>
                    <td>{{item.s}}</td>
                    <td>{{item.a2}}</td>
                    <td>{{item.rsc}} - {{item.rsr}}</td>
                    <td>{{item.ntd}}</td>
                    <td>
                      <i class="fa fa-edit cursor btn-header cursor_active"></i>
                      <i class="fa fa-trash cursor btn-header cursor_active"></i>
                    </td>
                  </tr>

                 

                </tbody>
              </table>

            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->

          <div class="box-footer clearfix">
            <a [routerLink]="['/admin']">
              <button type="button" class="btn btn-alert btn-md shadow-box-item" onclick="history.go(-1);">
                Regresar
                <i class="favb fa fa-circle"></i>
              </button>
            </a>
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>

  </section>


  <!-- /.content -->
</div>

<!-- Modal -->
<div class="modal fade  " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header  box box-info">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title font-header" id="myModalLabel">Detalle Ramos</h4>
      </div>
      <div class="modal-body">

        <form [formGroup]="myForm">
          <div class="row">
            <!--<pre>{{myForm.value|json}}</pre>-->
            <div class="col-xs-3 ">
              <label for="entidad">Entidad</label>
              <select class="form-control" id="entidad" name="entidad" formControlName="entidad">
                <option value="">Seleccione</option>
                <option *ngFor="let item of Rsltnntdds | async" value="{{item.a}}">{{item.c}}</option>
              </select>
            </div>

            <div class="col-xs-3 ">
              <div class="form-group">
                <label for="codigoSuper">Cod. Ramo Super</label>
                <select class="form-control" name="codigoSuper" (changue)="sinconiza('codigo')" id="codigoSuper" formControlName="codigoSuper">
                  <option value="">Seleccione</option>
                  <option *ngFor="let item of codSuper | async" value="{{item.a}}">{{item.c}}</option>
                </select>

              </div>
            </div>
            <div class="col-xs-6 ">
              <div class="form-group">
                <label for="ramoSuper">Ramo Super</label>
                <select class="form-control" name="ramoSuper" id="ramoSuper" (changue)="sinconiza('ramo')" formControlName="ramoSuper">
                  <option value="">Seleccione</option>
                  <option *ngFor="let item of namSuper | async" value="{{item.a}}">{{item.r}}</option>
                </select>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3 ">
              <div class="form-group">
                <label for="codigoRamoTecnico">Cod. Ramo Técnico</label>
                <input type="text" class="form-control" formControlName="codigoRamoTecnico" name="codigoRamoTecnico" id="codigoRamoTecnico"
                  placeholder="Cod. Ramo Técnico">
              </div>
            </div>
            <div class="col-xs-3 ">
              <div class="form-group">
                <label for="abreviatura">Abreviatura</label>
                <input type="text" class="form-control" formControlName="abreviatura" name="abreviatura" id="abreviatura" placeholder="Abreviatura ">
              </div>
            </div>
            <div class="col-xs-6 ">
              <div class="form-group">
                <label for="ramoTecnico">Ramo Técnico</label>
                <input type="text" class="form-control" formControlName="ramoTecnico" name="ramoTecnico" id="ramoTecnico" placeholder="Ramo Técnico">
              </div>
            </div>
          </div>
        </form>
        <hr>
        <div class="target2" data-cant-rows='0' data-cant-sbrm='0' data-cant-cvr='0' data-cant-sbrm-itm='0' data-cant-cvr-itm='0'>

        </div>

        <div class="row">

          <div class="col-xs-6 ">
            <button type="button" id="addNewSr" class="btn btn-info margin-left btn-md shadow-box-item addnewSrCv">
              Agregar Sub Ramo
              <span class="fa fav fa-plus"></span>
            </button>

          </div>
          <div class="col-xs-6 ">
            <button type="button" id="addNewCv" class="btn btn-info margin-left btn-md shadow-box-item addnewSrCv">
              Agregar Cobertura
              <span class="fa fav fa-plus"></span>
            </button>

          </div>
        </div>
        <hr>
        <div class="target" data-cant-rows='0'>

        </div>

        <div class="row">

          <div class="col-xs-2 ">
            <button type="button" class="btn btn-primary" id="addNew" class="btn btn-info margin-left btn-md shadow-box-item">
              Agregar Producto
              <span class="fa fav fa-plus"></span>
            </button>

          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Regresar</button>
        <button type="button" class="btn btn-primary" (click)="guardar()">Guardar </button>

        <button type="button" class="btn btn-primary" data-dismiss="modal">Agregar</button>

        <button type="button" class="btn btn-primary" data-dismiss="modal" id="cerrar">Cancelar</button>
      </div>
    </div>
  </div>
</div>
