<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
    <div class="pull-left image">
        <img src="assets/img/logo_big1160.png"   class="img-circle" >
 </div>
      <div class="pull-left info">
        <p>Usuario de Prueba</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form   class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Buscar...">
        <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">NAVEGACIÓN</li>
      <li class="active treeview">
        <a >
            <i class="fa fa-dashboard"></i> <span>Re-Solution</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li class="active"><a routerLink="dashboard1"><i class="fa fa-circle-o"></i> Inicio</a></li>
         <!--  <li><a routerLink="dashboard2"><i class="fa fa-circle-o"></i> Dashboard v2</a></li> -->
        </ul>
      </li>
      <li class="treeview">
        <a >
            <i class="fa fa-files-o"></i>
            <span>Reaseguros</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">8</span>
            </span>
          </a>
        <ul class="treeview-menu">
          <li>
            <a class="cursor_active" [routerLink]="['/admin/ajustesreaseguros']"> <i class="fa fa-circle-o"></i> Ajuste Reaseguros</a>
          </li>
          <li><a class="cursor_active" [routerLink]="['/admin/asociacionlineas']" ><i class="fa fa-circle-o"></i> Asociación lineas</a></li>
          <li>
            <a class="cursor_active" [routerLink]="['/admin/contratos']">
              <i class="fa fa-circle-o"></i> Contratos</a>
          </li>
          <li>
            <a class="cursor_active" [routerLink]="['/admin/companiasreaseguradoras']">
              <i class="fa fa-circle-o"></i> Compa&ntilde;ias</a>
          </li>
          <li><a class="cursor_active" [routerLink]="['/admin/cumulos']"><i class="fa fa-circle-o"></i> Cúmulos</a></li>
          <li><a class="cursor_active"> <i class="fa fa-circle-o"></i> Eliminar Reaseguros</a></li>
          <li><a class="cursor_active" [routerLink]="['/admin/lineascontratos']"><i class="fa fa-circle-o"></i> Lineas Contratos</a></li>
          <li><a class="cursor_active" [routerLink]="['/admin/reasegurospolizas']"><i class="fa fa-circle-o"></i> Reaseguro Pólizas</a></li>
        </ul>
      </li>
      <li>
        <a >
            <i class="fa fa-th"></i> <span>Configuración</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
            </span>
          </a>
      </li>
      <li class="treeview">
        <a >
            <i class="fa fa-pie-chart"></i>
            <span>Reportes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a ><i class="fa fa-circle-o"></i> ChartJS</a></li>
          <li><a ><i class="fa fa-circle-o"></i> Morris</a></li>
          <li><a ><i class="fa fa-circle-o"></i> Flot</a></li>
          <li><a ><i class="fa fa-circle-o"></i> Inline charts</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a >
            <i class="fa fa-laptop"></i>
            <span>Seguridad</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
          <li><a ><i class="fa fa-circle-o"></i> Usuarios</a></li>
          <li><a  ><i class="fa fa-circle-o"></i> Perfiles</a></li>
          <li><a ><i class="fa fa-circle-o"></i> Lista negra</a></li>
          <li><a ><i class="fa fa-circle-o"></i> Cambiar Clave</a></li>
          <li><a ><i class="fa fa-circle-o"></i> Control Acceso</a></li>
          <li><a ><i class="fa fa-circle-o"></i> Historial Cambios</a></li>
        </ul>
      </li>
 
      <li  style="display: none;">
        <a  >
            <i class="fa fa-calendar"></i> <span>Calendario</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>
            </span>
          </a>
      </li>
      <li  style="display: none;">
        <a >
            <i class="fa fa-envelope"></i> <span>Mensajes</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
      </li>
      <li><a ><i class="fa fa-book"></i> <span>Documentación</span></a></li>
      <li class="header" style="display: none;">ETIQUETAS</li>
      <li  style="display: none;"><a ><i class="fa fa-circle-o text-red"></i> <span>Importante</span></a></li>
      <li  style="display: none;"><a ><i class="fa fa-circle-o text-yellow"></i> <span>Alerta</span></a></li>
      <li  style="display: none;"><a ><i class="fa fa-circle-o text-aqua"></i> <span>Información</span></a></li>
    </ul>
  </section>

  <img src="assets/img/logo_mini1.png" style=" margin: 0 auto;  position: absolute; right: 30%;    bottom:0;   " class="img-responsive logo-lg">
  <!-- /.sidebar -->
</aside>
