<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Listado
      <small>{{modulo}}</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/admin']">
          <i class="fa fa-dashboard"></i> Inicio</a>
      </li>

      <li class="active">
        <a [routerLink]="['/admin/asociacionlineas']">{{modulo}}</a>
      </li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">

            <div class="row">
              <div class="col-sm-12 col-md-12">

                <nav id="mymenu">
                  <label for="tm" id="toggle-menu">Menu
                    <span class="drop-icon">▾</span>
                  </label>
                  <input type="checkbox" id="tm">
                  <ul class="main-menu cf">

                    <li>
                      <a [routerLink]="['/admin/ramos']" title="Ramos " class=" cursor_active btn-info  shadow-box-item">
                        Ramos
                      </a>
                    </li>
                    <li>

                      <button type="button" class="btn btn-primary" class="btn btn-info margin-left btn-md shadow-box-item" data-toggle="modal"
                        data-target="#myModal">
                        Asociación de contratos
                      </button>>
                    </li>
                    <li class="f-right">
                      <a href="javascript:void(0)" onclick="history.go(-1)" class="btn-info shadow-box-item">Regresar
                        <span class="fav fa fa-circle"> </span>
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- NAV BAR -->
              </div>
            </div>






          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">


              <table id="myData" class="row-border hover" style="display: none">
                <thead>
                  <tr>
                    <th>Contrato</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Tipo de Asociación</th>
                    <th>Ramo</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let item of list ">
                    <td>{{item.con}}</td>
                    <td>{{item.fi}}</td>
                    <td>{{item.ff}}</td>
                    <td>{{item.tp}}</td>
                    <td>{{item.rm}}</td>
                    <td>

                      <i class="fa fa-edit cursor btn-header cursor_active"></i>
                      <i class="fa fa-trash cursor btn-header cursor_active"></i>

                    </td>
                  </tr>


                </tbody>
              </table>


            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->

          <div class="box-footer clearfix">
            <a [routerLink]="['/admin']">
              <button type="button" class="btn btn-alert btn-lg shadow-box-item" onclick="history.go(-1);">
                Regresar
                <i class="favb fa fa-circle"></i>
              </button>
            </a>

          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>

  </section>


  <!-- /.content -->
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header  box box-info">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title font-header" id="myModalLabel">Asociación de Contratos</h4>
      </div>
      <div class="modal-body">

        <form [formGroup]="formulario">

          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputEmail4">Tipo de contrato</label>
                <input type="text" readonly class="form-control" id="inputEmail4" placeholder="Tipo de Contrato" formControlName="tipoContrato">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">ID Contrato</label>
                <input type="text" (change)="consultar()" class="form-control" id="searchInput" placeholder="ID Contrato " formControlName="idContrato">
                <input type="hidden" name="idContratopk" id="idContratopk" formControlName="idContratopk">
                <ul id="myUL" *ngIf="lisRequest">
                  <li *ngFor="let item of dataReq">
                    <a href="javascript:void(0)" (click)="cargar(item)">{{item.o}}</a>
                  </li>
                </ul>


              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Descripción Contrato
                </label>
                <input type="text" readonly class="form-control" id="inputEmail4" placeholder="Descripción Contrato" formControlName="descripcion">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 ">
              <div class="form-group">
                <label for="inputEmail4">Inicio</label>
                <input type="text" readonly class="form-control" id="fi" placeholder="Inicio " formControlName="fInicio">
              </div>
            </div>
            <div class="col-xs-6 ">
              <div class="form-group">
                <label for="inputEmail4">Fin</label>
                <input type="text" readonly class="form-control" id="ff" placeholder="Fin " formControlName="fFin">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputEmail4">Ramo</label>
                <select class="form-control" (change)="ShowAssoc(); getDetail();" formControlName="ramo">
                  <option *ngFor="let item of ramos" [value]="item.a">{{item.e}} - {{item.a2}}</option>

                </select>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="showAssoc">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputEmail4">Tipo de Asociación</label>
                <select class="form-control" (change)="getDetail()" formControlName="tipoAsociacion">
                  <option *ngFor="let item of tiposAsoc" [value]="item.a">{{item.c}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="showList">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">

              <div class="form-group" *ngFor="let item of detail" >
                <div class="form-check">
                  <input class="form-check-input detailCheckbox" type="checkbox" value="{{item.id}}" id="chk{{item.id}}" name="chk{{item.id}}" >
                  <label class="form-check-label" for="chk{{item.id}}">
                     {{item.name}}
                  </label>
                </div>
              </div>

            </div>
            <div class="col-xs-2">
            </div>

          </div>


        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Regresar</button>
        <button type="button" class="btn btn-primary" (click)="guardar()">Guardar </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="cancelar">Cancelar</button>
      </div>
    </div>
  </div>
</div>