<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Formulario
      <small>{{modulo}}</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/admin']">
          <i class="fa fa-dashboard"></i> Inicio</a>
      </li>

      <li class="active">
        <a [routerLink]="['admin/contratos/automaticos/proporcionales/cuota-aparte/detalle']">{{modulo}}</a>
      </li>

    </ol>
  </section>
  <section class="content">

    <form action="">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">
                {{modulo}}
              </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <div class="content" [formGroup]="formReporte">

                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="dtcr">Intermediario</label>
                        <select class="form-control" fromCotrolName="intermediario" id="dtcr" name="corredor">
                          <option *ngFor="let i of intermedario" value="i.a">{{i.a2}}</option>

                        </select>
                      </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="dtrsg">Aseguradora</label>
                        <select class="form-control" fromControlName="aseguradora" id="dtrsg">
                          <option *ngFor="let a of corredores" value="a.a"> {{a.a2}} </option>

                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="dtpp">% Participación intermediario</label>
                        <input type="text" fromControlName="partcipacionIntermediario" class="form-control" placeholder="% Participación" id="dtpp">

                      </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="dtpcm">% Comisión Aseguradora</label>
                        <input type="text" fromControlname="comisionAsegurada" class="form-control" placeholder="%  Comisión">

                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="dtdpst">Corredor</label>
                        <input type="text" formControlName="corredor" class="form-control" placeholder="Corredor">
                      </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="dtcu">Reasegurador</label>

                        <select formControlName="reasegurador" class="form-control">
                          <option *ngFor="let r of reaseguradores" value="r.a"> {{ r.e }} </option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="dtgst">Participación Corredor</label>
                        <input type="text" class="form-control" formControlName="participacionCorredor" placeholder="% participacion corredor">

                      </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="dtipc">Participación Reasegurador</label>
                        <input type="text" formControlName="participacionReaseguradores" class="form-control" placeholder="% participacion reasegurador">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="dttps">Comision Corredor</label>
                        <input type="text" class="form-control" formControlName="comisionCorredor" placeholder="Comision Corredor">
                      </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="dtap">Comision Cesion</label>
                        <input type="text" class="form-control" formControlName="comisionCesion" placeholder="Comision Cesion">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="dtcts">Asegurado</label>
                        <input class="form-control" id="dtcts" name="dtcts" formControlName="asegurado">
                      </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="dtbrok">Nit</label>
                        <input type="text" class="form-control" formControlName="nit" placeholder="Nit">
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="">Ramo / Producto</label>
                        <input type="text" class="form-control" formControlName="ramoProducto" placeholder="Ramo / Producto">
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="">Tipo de contrato</label>
                        <select class="form-control" formControlName="tipoContrato" name="a2">
                          <optgroup label="--Automáticos--" disabled> </optgroup>
                          <optgroup label="Proporcionales">
                            <option value="Cuota Parte">Cuota Parte</option>
                            <option value="Excedente">Excedente</option>
                            <option value="Facultativo">FACOB</option>

                            <optgroup label="No roporcionales">
                              <option value="operativo WXL">operativo WXL</option>
                              <option value="Catastrofico XL">Catastrofico XL</option>
                              <option value="Stop Loss">Stop Loss</option>
                              <option value="Tent Plan">Tent Plan</option>
                            </optgroup>

                            <optgroup label="--Facultativo--" disabled> </optgroup>
                            <optgroup label="Proporcionales">
                              <option value="Facultativo">Facultativo</option>
                            </optgroup>
                            <optgroup label="Proporcionales">
                              <option value="Facultativo NP">Facultativo NP</option>
                            </optgroup>


                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for=""> Prima Comercial </label>
                        <input type="text" class="form-control" formControlName="primaComercial">
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for=""> Primar Neta </label>
                        <input type="text" class="form-control" formControlName="primaNeta">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="row">
                        <div class="col-xs-12 col-md-6">
                          <div class="form-group">
                            <label for="">Inicio de vigencia</label>
                            <input type="text" class="form-control" formControlName="inicioVigencia">
                          </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <div class="form-group">
                            <label for="">Fin de vigencia</label>
                            <input type="text" class="form-control" formControlName="finVigencia">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="">Nota de cobertura</label>
                        <input type="text" class="form-control" formControlName="notaCovertura">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="">Estado</label>
                        <select class="form-control" formControlName="estado">
                          <option *ngFor="let item of estadoData" [value]="item.id">{{item.value}}</option>
                        </select>

                      </div>
                    </div>
                    <div class="fcol-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="">Nota Debito</label>
                        <input type="text" class="form-control" formControlName="nota">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label>Modificaciones</label>
                        <input type="text" class="form-control" formControlName="modificaciones">
                      </div>
                    </div>
                  </div>

                </div>
                <!--cotizacion renovacion-->
                <div class="content" *ngIf="formReporte.controls.estado.value == 1 || formReporte.controls.estado.value == 2">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="col-md-12">
                        <input type="checkbox" name="solicitud" [(ngModel)]="solicitud"> Solicitud del cliente
                      </div>
                      <div class="col-md-12">
                        <input type="checkbox" name="corredor" id="" [(ngModel)]="corredor"> Solicitud del corredor de reaseguros al reasegurador
                      </div>
                      <div class="col-md-12">
                        <input type="checkbox" name="reasegurador" id="" [(ngModel)]="reasegurador"> Respusta de los reaseguradores
                      </div>
                      <div class="col-md-12">
                        <input type="checkbox" name="cotizacion" id="" [(ngModel)]="cotizacion"> Cotización
                      </div>
                      <div class="col-md-12">
                        <input type="checkbox" name="confirmacion" id="" [(ngModel)]="confirmacion"> Confirmaciones
                      </div>


                    </div>
                    <div class="col-xs-12 col-md-6">
                      <div class="col-md-12">
                        <input type="file" name="" id="">
                      </div>
                      <div class="col-md-12">
                        <input type="file" name="" id="">
                      </div>
                      <div class="col-md-12">
                        <input type="file" name="" id="">
                      </div>
                      <div class="col-md-12">
                        <a href="asset/cotizacion.doc" download="cotizacion"   >
                          <button style="width:138px">
                          Descargar</button>
                         
                        </a>
                      </div>
                      <div class="col-md-12">
                        <input type="file" name="" id="">
                      </div>


                    </div>
                  </div>
                </div>
                <!--oreder en firme-->
                <div class="content" *ngIf="formReporte.controls.estado.value == 3">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="col-md-12">
                        <input type="checkbox" name="solicitud" [(ngModel)]="solicitud"> Nota de cobertura
                      </div>
                      <div class="col-md-12">
                        <input type="checkbox" name="corredor" id="" [(ngModel)]="corredor">Nota debito
                      </div>


                    </div>
                    <div class="col-xs-12 col-md-6">
                      <div class="col-md-12">
                        <a type="button" class="btn btn-alert btn-md shadow-box-item">
                          Generar
                          <i class="favb fa fa-circle"></i>
                        </a>
                      </div>
                      <div class="col-md-12">
                        <a type="button" class="btn btn-alert btn-md shadow-box-item">
                          Generar
                          <i class="favb fa fa-circle"></i>
                        </a>
                      </div>

                    </div>
                  </div>
                </div>
                <!--declinacion-->
                <div class="content" *ngIf="formReporte.controls.estado.value == 4">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="col-md-12">
                        <input type="checkbox" name="solicitud" [(ngModel)]="solicitud"> Clente
                      </div>
                      <div class="col-md-12">
                        <input type="checkbox" name="corredor" id="" [(ngModel)]="corredor"> Reasegurador
                      </div>
                      <div class="col-md-12">
                        <input type="checkbox" name="corredor" id="" [(ngModel)]="corredor"> Aseguradora
                      </div>

                    </div>
                    <div class="col-xs-12 col-md-6">
                      <div class="col-md-12">
                        <input type="file" name="" id="">
                      </div>
                      <div class="col-md-12">
                        <input type="file" name="" id="">
                      </div>
                      <div class="col-md-12">
                        <input type="file" name="" id="">
                      </div>

                    </div>
                  </div>
                </div>


                <button type="button" class="btn btn-alert btn-md shadow-box-item" onclick="if(confirm('Antes de salir recuerde guardar los cambios.')){history.go(-1);}else{return false;}">
                  Regresar
                  <i class="favb fa fa-circle"></i>
                </button>
                <button type="submit" class="btn btn-primary" (click)="guardar()" class="btn btn-info margin-left btn-md shadow-box-item">
                  Guardar
                  <i class="favb fa fa-circle">
                  </i>
                </button>

                <button type="button" class="btn btn-info margin-left btn-md shadow-box-item" (click)='addComision()'>
                  Agregar
                  <i class="favb fa fa-circle">
                  </i>
                </button>

                <button type="button" class="btn btn-alert btn-md shadow-box-item" onclick="history.go(-1);">
                  Cancelar
                  <i class="favb fa fa-circle"></i>
                </button>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->

            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
    </form>
  </section>
</div>
