<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Cargar
      <small>{{modulo}}</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/admin']">
          <i class="fa fa-dashboard"></i> Inicio</a>
      </li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">


    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <app-menu-prima-component></app-menu-prima-component>
              </div>
            </div>
            <h3 class="box-title">
              {{modulo}}
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">



              <div class="content">
                <div class="row">
                  <div class="col-xs-12 col-md-10">
                  </div>
                  <div class="col-xs-12 col-md-2">
                 <a href="http://www.api.acresarconsultores.com/storage/Formato_Primas.xlsx">  <button type="button" class="btn btn-info margin-left btn-md shadow-box-item">Descargar Formato Base</button></a> 
                    </div>
                    </div>
                 
                <form>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="inputEmail4">Cargar</label>
                            <select class="form-control">
                              <option *ngFor="let s of cargars" value="s.a">{{s.c}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="inputEmail4">Compañia</label>
                            <select class="form-control">
                              <option *ngFor="let c of compania" value="c.a">{{c.c}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-md-12  m-auto">

                      <input-file inputId="images-minimal" inputMaxFiles="1" [(model)]="inputFileModel" (acceptedFile)="onAccept($event)" (removedFile)="onRemove($event)"
                        inputAccept=".xlsx,.xls">
                      </input-file>

                    </div>
                  </div>
                  <div class="row">

                    <div class="col-md-12"><br><br>
                      <button (click)="SendFile()" type="button" class="btn btn-info margin-left btn-md shadow-box-item">Cargar</button>
                    </div>
                  </div>

                </form>
              </div>



            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->

          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>

  </section>

  <!-- Modal -->

  <!-- /.content -->
</div>
