<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Formulario
      <small>{{modulo}}</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/admin']">
          <i class="fa fa-dashboard"></i> Inicio</a>
      </li>

      <li class="active">
        <a [routerLink]="['admin/contratos/automaticos/noproporcionales/operativowxl']">{{modulo}}</a>
      </li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">



    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">
              {{modulo}}
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">



              <div class="content">
                <form>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="inputEmail4">Descripción</label>
                        <input type="text" class="form-control" id="inputEmail4" value="{{item.c}}" placeholder="Descripción">
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                      <div class="form-group">
                        <label for="inputEmail4">Fecha Inicio</label>
                        <input type="text" class="form-control calendar" value="{{item.r}}-01-01" name="fini" id="fini" placeholder="Fecha Inicio">
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                      <div class="form-group">
                        <label for="inputEmail4">Fecha Fin</label>
                        <input type="text" class="form-control calendar" value="{{item.e}}-12-31" name="ffin" id="ffin" placeholder="Fecha fin">
                      </div>
                    </div>
                    </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="inputEmail4">Moneda</label>
                        <select class="form-control">
                          <option>Seleccion</option>
                          <option>Pesos</option>
                          <option>Dolar</option>
                          <option>Euro</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="inputEmail4">Prima mínima y de depósito (MINDEP)</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Prima mínima y de depósito (MINDEP)">
                      </div>
                    </div>
                  </div>

                  <div class="row">

                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="inputEmail4">Estimado de Primas (EPI)</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="Prima depósito">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <div class="form-group">
                        <label for="obs">Observaciones</label>
                      </div>
                    </div>


                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <div class="form-group">
                        <textarea style="width:100%" name="" id="obs" cols="30" rows="10"></textarea>
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <div class="form-group">



                        <table class="table hoverTable">
                          <thead>
                            <tr>
                              <th>Capa</th>
                              <th>Prioridad</th>
                              <th>Limite</th>
                              <th>Limite por evento</th>
                              <th>Nomina de Reasegurador</th>
                              <th>Limite Anual</th>
                              <th>% Reas</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td> 1</td>
                              <td> </td>
                              <td> </td>
                                    <td> </td>
                              <td class="cursor_active" (click)="goDetail()"> </td>
                              <td> </td>
                              <td> </td>
                            </tr>
                            <tr>
                              <td> 2</td>
                              <td> </td>
                              <td> </td>
                                    <td> </td>
                              <td class="cursor_active" (click)="goDetail()"> </td>
                              <td> </td>
                              <td> </td>
                            </tr>
                            <tr>
                              <td> 3</td>
                              <td> </td>
                              <td> </td>
                                <td> </td>
                              <td class="cursor_active" (click)="goDetail()"> </td>
                              <td> </td>
                              <td> </td>
                            </tr>
                          </tbody>
                        </table>


                      </div>
                    </div>
                  </div>


<a [routerLink]="['/admin']">
  <button type="button" class="btn btn-alert btn-lg shadow-box-item" onclick="history.go(-1);">
    Regresar
    <i class="favb fa fa-circle"></i>
  </button>
</a>
                </form>
              </div>



            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->

          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>

  </section>

  <!-- Modal -->

  <!-- /.content -->
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header  box box-info">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title font-header" id="myModalLabel">Datos Bancarios</h4>
      </div>
      <div class="modal-body">

        <form>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Titular / Owner </label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Titular / Owner">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputEmail4">Número de cuenta / Account Number</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Número de cuenta / Account Number">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Moneda / Currency</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Moneda / Currency">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">ABA / SWIFT</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="ABA / SWIFT">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Banco / Bank </label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Banco / Bank">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Pais / Country</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Pais / Country">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Ciudad / City</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Ciudad / City">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Certificación / Certification</label>
                <input type="file" class="form-control" id="inputEmail4" placeholder="Certificación">
              </div>
            </div>
          </div>

          
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>