<div class="col-md-12">
  <div class="box-header with-border">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <nav id="mymenu">
          <label for="tm" id="toggle-menu">Menu
            <span class="drop-icon">▾</span>
          </label>
          <ul class="main-menu cf">

            <li>
              <a [routerLink]="['/admin/contratos/ajuste/primas']" class="btn-info shadow-box-item">Primas
                <span class="fa fav fa-circle"></span>
                <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
              </a>
              <input type="checkbox" id="sm1">
              <ul class="sub-menu ">
                <li>
                  <a [routerLink]="['/admin/contratos/ajuste/primas']">Reaseguro manual
                    <label title="Toggle Drop-down" class="drop-icon" for="sm2"> &nbsp; &nbsp;</label>
                  </a>
                  <input type="checkbox" id="sm2">
                  <ul class="sub-menu fix-sub">
                    <li>
                      <a [routerLink]="['/admin/contratos/ajuste/primas']">Nueva Distribucion
                      </a>
                    </li>
                    <li>
                      <a [routerLink]="['']">Modificar Distribucion
                      </a>
                    </li>

                    <li>
                      <a [routerLink]="['']">Nuevo Ajuste
                      </a>
                    </li>
                    <li>
                      <a [routerLink]="[]">Borrar Ajuste</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a [routerLink]="['']">Reaseguro automatico
                    <label title="Toggle Drop-down" class="drop-icon" for="sm2"> &nbsp; &nbsp;</label>
                  </a>
                  <input type="checkbox" id="sm2">
                  <ul class="sub-menu fix-sub">
                    <li>
                      <a [routerLink]="['/admin/contratos/carga']">Cargar y Procesar
                      </a>
                    </li>
                    <!--<li>
                      <a [routerLink]="['']">Procesar
                      </a>
                    </li>-->
                  </ul>
                </li>
                <li>
                  <a [routerLink]="['']">Borrar Distribucion de Rea.
                    <label title="Toggle Drop-down" class="drop-icon" for="sm2"> &nbsp; &nbsp;</label>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a [routerLink]="['']" class="btn-info shadow-box-item">Siniestro
                <span class="fa fav fa-circle"></span>
                <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
              </a>
              <input type="checkbox" id="sm3">
              <ul class="sub-menu ">
                <li>
                  <a [routerLink]="['/admin/contratos/ajuste/primas']">Reaseguro manual
                    <label title="Toggle Drop-down" class="drop-icon" for="sm2"> &nbsp; &nbsp;</label>
                  </a>
                  <input type="checkbox" id="sm2">
                  <ul class="sub-menu fix-sub">
                    <li>
                      <a [routerLink]="['']">Nueva Distribucion
                      </a>
                    </li>
                    <li>
                      <a [routerLink]="['']">Modificar Distribucion
                      </a>
                    </li>

                    <li>
                      <a [routerLink]="['']">Nuevo Ajuste
                      </a>
                    </li>
                    <li>
                      <a [routerLink]="[]">Borrar Ajuste</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a [routerLink]="['']">Reaseguro automatico
                    <label title="Toggle Drop-down" class="drop-icon" for="sm2"> &nbsp; &nbsp;</label>
                  </a>
                  <input type="checkbox" id="sm2">
                  <ul class="sub-menu fix-sub">
                    <li>
                      <a [routerLink]="['']">Cargar Siniestro pagados
                      </a>
                    </li>
                    <li>
                      <a [routerLink]="['']">Cargar Reserva de Siniestro
                      </a>
                    </li>
                    <li>
                      <a [routerLink]="['']">Procesar Siniestro Pagados</a>
                    </li>
                    <li>
                      <a [routerLink]="['']">Procesar Reserva de SiniestrosS</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a [routerLink]="['']">Borrar Distribucion de Rea.
                    <label title="Toggle Drop-down" class="drop-icon" for="sm3"> &nbsp; &nbsp;</label>
                  </a>
                  <input type="checkbox" id="sm3">
                  <ul class="sub-menu fix-sub">
                    <li>
                      <a [routerLink]="['']">Siniestro Pagados
                      </a>
                    </li>
                    <li>
                      <a [routerLink]="['']">Reservas de Siniestro
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
                <a [routerLink]="['']" class="btn-info shadow-box-item">Procesos
                  <span class="fa fav fa-circle"></span>
                  <label title="Toggle Drop-down" class="drop-icon" for="sm4">▾</label>
                </a>
                <input type="checkbox" id="sm4">
                <ul class="sub-menu ">
                  <li>
                    <a [routerLink]="['/admin/contratos/ajuste/primas']" class="btn-info shadow-box-item">Liquidación
                      <label title="Toggle Drop-down" class="drop-icon" for="sm5"> &nbsp; &nbsp;</label>
                    </a>
                    <input type="checkbox" id="sm5">
                    <ul class="sub-menu fix-sub">
                      <li>
                        <a href="javascript:void(0)" >Participación Utilidades
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="['/admin/contratos/ajuste/sobrecomsion/new']" >Sobrecomisión
                        </a>
                      </li>

                    </ul>
                  </li>
                  <li>
                    <a [routerLink]="['']">Ajustes
                      <label title="Toggle Drop-down" class="drop-icon" for="sm7"> &nbsp; &nbsp;</label>
                    </a>
                    <input type="checkbox" id="sm7">
                    <ul class="sub-menu fix-sub">
                      <li>
                        <a [routerLink]="['/admin/contratos/ajuste/noproporcionales/new']" >Contrato No Proporcional
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="['']">Retiro de cartera
                        </a>
                      </li>

                    </ul>
                  </li>
                  <li>
                    <a [routerLink]="['']">Borrar Distribucion de Rea.
                      <label title="Toggle Drop-down" class="drop-icon" for="sm3"> &nbsp; &nbsp;</label>
                    </a>
                    <input type="checkbox" id="sm3">
                    <ul class="sub-menu fix-sub">

                    </ul>
                  </li>
                </ul>
              </li>
            <li>
              <input type="" placeholder="Buscar" class="form-control">
            </li>

            
          </ul>
        </nav>
        <!-- NAV BAR -->
      </div>
    </div>
  </div>
</div>
