<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Reporte
        <small>{{modulo}}</small>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a [routerLink]="['/admin']">
            <i class="fa fa-dashboard"></i> Inicio</a>
        </li>
  
        <li class="active">
          <a [routerLink]="['/admin/reasegurospolizas']">{{modulo}}</a>
        </li>
  
      </ol>
    </section>
  
    <!-- Main content -->
    <section class="content">
  
      <div class="row">
        <div class="col-md-12">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">
                {{modulo}}
              </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form>
                <div class="row">
                  <div class="col-xs-12 col-md-12">
                    <div class="form-group">
                      <label for="dtcr">Corredor</label>
                      <select [(ngModel)]="corredor" class="form-control" id="dtcr" name="corredor" required>
                        <option value="">Sin Corredor</option>
                        <option *ngFor="let item of rsltncr" value="{{item.a}}">{{item.s}} {{item.c}}</option>
                      </select>
                    </div>
                  </div>
  
                  <div class="col-xs-12 col-md-12">
                    <div class="form-group">
                      <label for="dtrsg">Reasegurador</label>
                      <select [(ngModel)]="reseasegurador" class="form-control" id="dtrsg" name="reseasegurador" required>
                        <option *ngFor="let item of rsltnrsgr" value="{{item.a}}">{{item.r}} {{item.e}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
  
                  <div class="col-md-6">
  
                    <div class="form-group">
  
                      <label for="">Fecha de Inicio</label>
                      <input type="text" name="finicio" id="fInicio" class="form-control calendar">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Fecha de Fin</label>
                      <input type="text" name="fFin" id="fFin" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <a href="" download="borderaux.xlsx" class="btn btn-primary">Descargar</a>
                  </div>
                </div>
  
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>