<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Listado
      <small>{{modulo}}</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/admin']">
          <i class="fa fa-dashboard"></i> Inicio</a>
      </li>

      <li class="active">
        <a [routerLink]="['/admin/contratos/automaticos/list']">{{modulo}}</a>
      </li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">

            <div class="row">
              <div class="col-sm-12 col-md-12">

                <nav id="mymenu">
                  <label for="tm" id="toggle-menu">Menu
                    <span class="drop-icon">▾</span>
                  </label>
                  <input type="checkbox" id="tm">
                  <ul class="main-menu cf">
                   
                  <li>
                    <a href="javascript:void(0)" onchange="$('#comp').empty();if($(this).val()==1){$('#comp').append('<option>Cuota Parte</option><option>Excedente</option><option>FACOB</option>');}else{$('#comp').append('<option>Catastrófico XL</option><option>Operativo WXL</option><option>Stop Loss</option><option>Tent Plan</option>');}" class="btn-info custom-padding shadow-box-item"> Seleccion
                      <select class="color-fixed">
                        <option value="1">Proporcionales</option>
                        <option value="2">No Proporcionales</option>
                      </select>
                    </a>
                  </li>
                    <li>
                      <a href="javascript:void(0)" class="btn-info custom-padding shadow-box-item"> A&ntilde;o &nbsp;
                        <select class="color-fixed">
                          <option>2018</option>
                          <option>2017</option>
                          <option>2016</option>
                          <option>2015</option>
                        </select>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="btn-info custom-padding shadow-box-item"> Contrato
                        <select id="comp" class="color-fixed">
                          <option>Cuota Parte</option>
                          <option>Excedente</option>
                         
                        </select>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"  title="Buscar " class="btn-info custom-padding shadow-box-item">
                       Buscar <i class="fa fa-search"></i>
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- NAV BAR -->
              </div>
            </div>






          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">


              <table  id="myData" class="row-border hover">
              <thead>
                <tr>
                  <th>Contrato</th>
                  <th>Nombre</th>
                  <th>Fecha Inicio</th>
                  <th>Fecha Termino</th>
                  <th>Moneda</th>
                  <th>Tipo Contrato</th>
                  <th>Corredor</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ls | async">
                  <td>{{ item.o }}</td>
                  <td>{{ item.c }}</td>
                  <td>{{ item.r }}</td>
                  <td>{{ item.e }}</td>
                  <td>{{ item.mc }}</td>
                  <td>{{ item.cc }}</td>
                  <td></td>
                  <td>
              
                    <a [routerLink]="['/admin/contratos/new']">
                      <i class="fa fa-edit cursor btn-header cursor_active"></i>
                    </a>
                    <i class="fa fa-trash cursor btn-header cursor_active"></i>
              
                  </td>
                </tr>
              
              
              
              </tbody>
              </table>


            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->

          <div class="box-footer clearfix">
            <a [routerLink]="['/admin']">
              <button type="button" class="btn btn-alert btn-md shadow-box-item" onclick="history.go(-1);">
                Regresar
                <i class="favb fa fa-circle"></i>
              </button>
            </a>
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>

  </section>


  <!-- /.content -->
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header  box box-info">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title font-header" id="myModalLabel">Registrar Contrato</h4>
      </div>
      <div class="modal-body">

        <form>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">A&ntilde;o </label>
                <select class="form-control">
                  <option>2018</option>
                  <option>2017</option>
                  <option>2016</option>
                  <option>2015</option>
                  <option>2014</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputEmail4">Tipo de contrato</label>
                <select class="form-control">
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">ID</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="ID Contrato ">
              </div>
            </div>
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>