<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Re-Solution
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/admin']">
          <i class="fa fa-dashboard"></i> Inicio</a>
      </li>
      <li class="active">Modulo Reaseguros</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Info boxes -->
    <div class="row">

      <div class="col-md-3 col-sm-6 col-xs-12">
        <a [routerLink]="['/admin/ajustesreaseguros']">
          <!--   <a [routerLink]="['/admin/contratos']"> -->
          <div class="info-box">
            <span class="info-box-icon menu-dashboard menu-ajustes" style="background-image:url('assets/img/menu_dashboard/ajustes_reaseguros.png')">
              <i class="fa  "></i>
            </span>


            <div class="info-box-content">
              <span class="info-box-text">&nbsp;</span>
              <span class="info-box-number">Administración de Reaseguros</span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!--</a>-->
        <!-- /.info-box -->
      </div>


      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a [routerLink]="['/admin/asociacionlineas']">
          <div class="info-box ">
            <span class="info-box-icon menu-dashboard menu-asociar-lineas" style="background-image:url('assets/img/menu_dashboard/asociacion_lineas.png')">
              <i class="fa  "></i>
            </span>

            <div class="info-box-content">
              <span class="info-box-text">&nbsp;</span>
              <span class="info-box-number">Asociación de Contratos</span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix visible-sm-block"></div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a [routerLink]="['/admin/lineascontratos']">
          <div class="info-box">
            <span class="info-box-icon menu-dashboard menu-lineas" style="background-image:url('assets/img/menu_dashboard/cumulos.png')">
              <i class="fa  "></i>
            </span>

            <div class="info-box-content">
              <span class="info-box-text">&nbsp;</span>
              <span class="info-box-number">Cartera
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>

      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a [routerLink]="['/admin/cumulos']">
          <div class="info-box">
            <span class="info-box-icon menu-dashboard menu-cumulos" style="background-image:url('assets/img/menu_dashboard/eliminar_reaseguro.png')">
              <i class="ion  "></i>
            </span>

            <div class="info-box-content">
              <span class="info-box-text">&nbsp;</span>
              <span class="info-box-number">Coaseguros</span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>


    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a [routerLink]="['/admin/companiasreaseguradoras']">
          <div class="info-box">
            <span class="info-box-icon menu-dashboard  menu-companias" style="background-image:url('assets/img/menu_dashboard/companias_reaseguradoras.png')">
              <i class="fa"></i>
            </span>

            <div class="info-box-content">
              <span class="info-box-text">&nbsp;</span>
              <span class="info-box-number">Compa&ntilde;ias

              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <a [routerLink]="['/admin/contratos']">
          <div class="info-box">
            <span class="info-box-icon menu-dashboard menu-contratos" style="background-image:url('assets/img/menu_dashboard/contratos.png')">
              <i class="fa  "></i>
            </span>

            <div class="info-box-content">
              <span class="info-box-text">&nbsp;</span>
              <span class="info-box-number">Contratos</span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <a [routerLink]="['/admin/reasegurospolizas']">
          <div class="info-box">
            <span class="info-box-icon menu-dashboard menu-polizas" style="background-image:url('assets/img/menu_dashboard/reaseguro_polizas.png')">
              <i class="fa  "></i>
            </span>

            <div class="info-box-content">
              <span class="info-box-text">&nbsp;</span>
              <span class="info-box-number">Gerencial</span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <div class="col-md-3 col-sm-6 col-xs-12">
        <!--   <a [routerLink]="['/admin/cumulos']">-->
        <a [routerLink]="['/admin/reportes']">
          <div class="info-box">
            <span class="info-box-icon menu-dashboard menu-elminar" style="background-image:url('assets/img/menu_dashboard/lineas_contratos.png')">
              <i class="fa  "></i>
            </span>

            <div class="info-box-content">
              <span class="info-box-text">&nbsp;</span>
              <span class="info-box-number">Reportes</span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!--    </a> -->
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->



    <div class="row" style="display:none">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Lineas de contratos</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Item</th>
                    <th>Status</th>
                    <th>Popularity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR9842</a>
                    </td>
                    <td>Call of Duty IV</td>
                    <td>
                      <span class="label label-success">Shipped</span>
                    </td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR1848</a>
                    </td>
                    <td>Samsung Smart TV</td>
                    <td>
                      <span class="label label-warning">Pending</span>
                    </td>
                    <td>
                      <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR7429</a>
                    </td>
                    <td>iPhone 6 Plus</td>
                    <td>
                      <span class="label label-danger">Delivered</span>
                    </td>
                    <td>
                      <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR7429</a>
                    </td>
                    <td>Samsung Smart TV</td>
                    <td>
                      <span class="label label-info">Processing</span>
                    </td>
                    <td>
                      <div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR1848</a>
                    </td>
                    <td>Samsung Smart TV</td>
                    <td>
                      <span class="label label-warning">Pending</span>
                    </td>
                    <td>
                      <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR7429</a>
                    </td>
                    <td>iPhone 6 Plus</td>
                    <td>
                      <span class="label label-danger">Delivered</span>
                    </td>
                    <td>
                      <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR9842</a>
                    </td>
                    <td>Call of Duty IV</td>
                    <td>
                      <span class="label label-success">Shipped</span>
                    </td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>


    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <section class="col-lg-7 connectedSortable">
        <div class="box box-info" style="display:none">
          <div class="box-header with-border">
            <h3 class="box-title">Latest Orders</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Item</th>
                    <th>Status</th>
                    <th>Popularity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR9842</a>
                    </td>
                    <td>Call of Duty IV</td>
                    <td>
                      <span class="label label-success">Shipped</span>
                    </td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR1848</a>
                    </td>
                    <td>Samsung Smart TV</td>
                    <td>
                      <span class="label label-warning">Pending</span>
                    </td>
                    <td>
                      <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR7429</a>
                    </td>
                    <td>iPhone 6 Plus</td>
                    <td>
                      <span class="label label-danger">Delivered</span>
                    </td>
                    <td>
                      <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR7429</a>
                    </td>
                    <td>Samsung Smart TV</td>
                    <td>
                      <span class="label label-info">Processing</span>
                    </td>
                    <td>
                      <div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR1848</a>
                    </td>
                    <td>Samsung Smart TV</td>
                    <td>
                      <span class="label label-warning">Pending</span>
                    </td>
                    <td>
                      <div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR7429</a>
                    </td>
                    <td>iPhone 6 Plus</td>
                    <td>
                      <span class="label label-danger">Delivered</span>
                    </td>
                    <td>
                      <div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="pages/examples/invoice.html">OR9842</a>
                    </td>
                    <td>Call of Duty IV</td>
                    <td>
                      <span class="label label-success">Shipped</span>
                    </td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- quick email widget -->
        <div class="box box-info" style="display:none">
          <div class="box-header">
            <i class="fa fa-envelope"></i>

            <h3 class="box-title">Email Rápido</h3>
            <!-- tools box -->
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fa fa-times"></i>
              </button>
            </div>
            <!-- /. tools -->
          </div>
          <div class="box-body">
            <form method="post">
              <div class="form-group">
                <input type="email" class="form-control" name="emailto" placeholder="Email:">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" placeholder="Asunto">
              </div>
              <div>
                <textarea class="textarea" placeholder="Mensaje" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
              </div>
            </form>
          </div>
          <div class="box-footer clearfix">
            <button type="button" class="pull-right btn btn-default" id="sendEmail">Enviar
              <i class="fa fa-arrow-circle-right"></i>
            </button>
          </div>
        </div>

      </section>
      <!-- /.Left col -->
      <!-- right col (We are only adding the ID to make the widgets sortable)-->
      <section class="col-lg-5 connectedSortable">

        <!-- TO DO List -->
        <div class="box box-primary" style="display:none">
          <div class="box-header">
            <i class="ion ion-clipboard"></i>

            <h3 class="box-title">Lista de tareas</h3>

            <div class="box-tools pull-right">
              <ul class="pagination pagination-sm inline">
                <li>
                  <a href="#">&laquo;</a>
                </li>
                <li>
                  <a href="#">1</a>
                </li>
                <li>
                  <a href="#">2</a>
                </li>
                <li>
                  <a href="#">3</a>
                </li>
                <li>
                  <a href="#">&raquo;</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <ul class="todo-list">
              <li>
                <!-- drag handle -->
                <span class="handle">
                  <i class="fa fa-ellipsis-v"></i>
                  <i class="fa fa-ellipsis-v"></i>
                </span>
                <!-- checkbox -->
                <input type="checkbox" value="">
                <!-- todo text -->
                <span class="text">Tarea 1</span>
                <!-- Emphasis label -->
                <small class="label label-danger">
                  <i class="fa fa-clock-o"></i> 2 mins</small>
                <!-- General tools such as edit or delete-->
                <div class="tools">
                  <i class="fa fa-edit"></i>
                  <i class="fa fa-trash-o"></i>
                </div>
              </li>
              <li>
                <span class="handle">
                  <i class="fa fa-ellipsis-v"></i>
                  <i class="fa fa-ellipsis-v"></i>
                </span>
                <input type="checkbox" value="">
                <span class="text">Tarea 2</span>
                <small class="label label-info">
                  <i class="fa fa-clock-o"></i> 4 hours</small>
                <div class="tools">
                  <i class="fa fa-edit"></i>
                  <i class="fa fa-trash-o"></i>
                </div>
              </li>
              <li>
                <span class="handle">
                  <i class="fa fa-ellipsis-v"></i>
                  <i class="fa fa-ellipsis-v"></i>
                </span>
                <input type="checkbox" value="">
                <span class="text">Tarea 3</span>
                <small class="label label-warning">
                  <i class="fa fa-clock-o"></i> 1 day</small>
                <div class="tools">
                  <i class="fa fa-edit"></i>
                  <i class="fa fa-trash-o"></i>
                </div>
              </li>
              <li>
                <span class="handle">
                  <i class="fa fa-ellipsis-v"></i>
                  <i class="fa fa-ellipsis-v"></i>
                </span>
                <input type="checkbox" value="">
                <span class="text">Tarea 4</span>
                <small class="label label-success">
                  <i class="fa fa-clock-o"></i> 3 days</small>
                <div class="tools">
                  <i class="fa fa-edit"></i>
                  <i class="fa fa-trash-o"></i>
                </div>
              </li>
              <li>
                <span class="handle">
                  <i class="fa fa-ellipsis-v"></i>
                  <i class="fa fa-ellipsis-v"></i>
                </span>
                <input type="checkbox" value="">
                <span class="text">Tarea 5</span>
                <small class="label label-primary">
                  <i class="fa fa-clock-o"></i> 1 week</small>
                <div class="tools">
                  <i class="fa fa-edit"></i>
                  <i class="fa fa-trash-o"></i>
                </div>
              </li>
              <li>
                <span class="handle">
                  <i class="fa fa-ellipsis-v"></i>
                  <i class="fa fa-ellipsis-v"></i>
                </span>
                <input type="checkbox" value="">
                <span class="text">Tarea 6</span>
                <small class="label label-default">
                  <i class="fa fa-clock-o"></i> 1 month</small>
                <div class="tools">
                  <i class="fa fa-edit"></i>
                  <i class="fa fa-trash-o"></i>
                </div>
              </li>
              <li>
                <span class="handle">
                  <i class="fa fa-ellipsis-v"></i>
                  <i class="fa fa-ellipsis-v"></i>
                </span>
                <input type="checkbox" value="">
                <span class="text">Tarea 7</span>
                <small class="label label-default">
                  <i class="fa fa-clock-o"></i> 1 month</small>
                <div class="tools">
                  <i class="fa fa-edit"></i>
                  <i class="fa fa-trash-o"></i>
                </div>
              </li>
            </ul>
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix no-border">
            <button type="button" class="btn btn-default pull-right">
              <i class="fa fa-plus"></i> Add item</button>
          </div>
        </div>
        <!-- /.box -->
        <!-- Calendar -->
        <div class="box box-solid bg-green-gradient" style="display:none">
          <div class="box-header">
            <i class="fa fa-calendar"></i>

            <h3 class="box-title">Calendario</h3>
            <!-- tools box -->
            <div class="pull-right box-tools">
              <!-- button with a dropdown -->
              <div class="btn-group">
                <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bars"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                  <li>
                    <a>Nuevo Evento</a>
                  </li>
                  <li>
                    <a>Limpiar Eventos</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a>Ver Calendario</a>
                  </li>
                </ul>
              </div>
              <button type="button" class="btn btn-success btn-sm" data-widget="collapse">
                <i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-success btn-sm" data-widget="remove">
                <i class="fa fa-times"></i>
              </button>
            </div>
            <!-- /. tools -->
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">
            <!--The calendar -->
            <div id="calendar" style="width: 100%"></div>
          </div>
          <!-- /.box-body -->

        </div>
        <!-- /.box -->

      </section>
      <!-- right col -->
    </div>
    <!-- /.row (main row) -->

  </section>
  <!-- /.content -->
</div>