<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Listado
      <small>{{modulo}}</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/admin']">
          <i class="fa fa-dashboard"></i> Inicio</a>
      </li>

      <li class="active">
        <a [routerLink]="['/admin/reasegurospolizas']">{{modulo}}</a>
      </li>

    </ol>
  </section>
  <nav id="mymenu">
    <label for="tm" id="toggle-menu">Menu
      <span class="drop-icon">▾</span>
    </label>
    <input type="checkbox" id="tm">
    <ul class="main-menu cf">

      <li>
        <a [routerLink]="['']" class="btn-info shadow-box-item">Aseguradoras
          <span class="fa fav fa-circle"></span>
          <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
        </a>
        <input type="checkbox" id="sm1">
        <ul class="sub-menu ">
          <li>
            <a [routerLink]="['']">Proporcionales
              <label title="Toggle Drop-down" class="drop-icon" for="sm2"> &nbsp; &nbsp;</label>
            </a>
            <input type="checkbox" id="sm2">

          </li>
          <li>
            <a [routerLink]="['']">No Proporcionales
              <label title="Toggle Drop-down" class="drop-icon" for="sm3"> &nbsp; &nbsp;</label>
            </a>
            <input type="checkbox" id="sm3">

          </li>
        </ul>
      </li>
      <li>
        <a [routerLink]="['']" class="btn-info shadow-box-item">Reaseguradores
          <span class="fa fav fa-circle">
          </span>
          <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
        </a>
        <input type="checkbox" id="sm1">
        <ul class="sub-menu">
          <li>
            <a [routerLink]="['']">Proporcionales
              <label title="Toggle Drop-down" class="drop-icon" for="sm2"> &nbsp; &nbsp;</label>
            </a>
            <input type="checkbox" id="sm2">
            <ul class="sub-menu fix-sub">
            </ul>
          </li>
          <li>
            <a [routerLink]="['']">No Proporcionales
              <label title="Toggle Drop-down" class="drop-icon" for="sm3"> &nbsp; &nbsp;</label>
            </a>
            <input type="checkbox" id="sm3">
            <ul class="sub-menu fix-sub">

            </ul>
          </li>
        </ul>
      </li>

      <li>
          <a [routerLink]="['']" class="btn-info shadow-box-item">Corredor Rea
            <span class="fa fav fa-circle">
            </span>
            <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
          </a>
          <input type="checkbox" id="sm1">
          <ul class="sub-menu">
            <li>
              <a [routerLink]="['']">Negocios
                <label title="Toggle Drop-down" class="drop-icon" for="sm2"> &nbsp; &nbsp;</label>
              </a>
              <input type="checkbox" id="sm2">
              <ul class="sub-menu fix-sub">
              </ul>
            </li>
            <li>
              <a [routerLink]="['/admin/corredor_rea/reportes']">Reportes
                <label title="Toggle Drop-down" class="drop-icon" for="sm3"> &nbsp; &nbsp;</label>
              </a>
              <input type="checkbox" id="sm3">
              <ul class="sub-menu fix-sub">

              </ul>
            </li>
          </ul>
        </li>



      <li class="f-right">
        <a href="javascript:void(0)" onclick="history.go(-1)" class="btn-info shadow-box-item">Regresar
          <span class="fav fa fa-circle"> </span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">
              {{modulo}}
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">


              <table datatable [dtOptions]="dtOptions" class="row-border hover">
                <thead>
                  <tr>
                    <th>Codigo Reaseguro</th>
                    <th>Nombre Poliza</th>
                    <th>Descripción</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>
                <!--  <tr>
                    <td>1</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                    <td>Laudantium consequuntur qui molestiae laborum ratione velit molestias</td>
                    <td>

                      <i class="fa fa-edit cursor btn-header cursor_active"></i>
                      <i class="fa fa-trash cursor btn-header cursor_active"></i>

                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                    <td>Laudantium consequuntur qui molestiae laborum ratione velit molestias</td>
                    <td>
                      <i class="fa fa-edit cursor btn-header cursor_active"></i>
                      <i class="fa fa-trash cursor btn-header cursor_active"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                    <td>Laudantium consequuntur qui molestiae laborum ratione velit molestias</td>
                    <td>
                      <i class="fa fa-edit cursor btn-header cursor_active"></i>
                      <i class="fa fa-trash cursor btn-header cursor_active"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                    <td>Laudantium consequuntur qui molestiae laborum ratione velit molestias</td>
                    <td>
                      <i class="fa fa-edit cursor btn-header cursor_active"></i>
                      <i class="fa fa-trash cursor btn-header cursor_active"></i>
                    </td>
                  </tr>

                  <tr>
                    <td>5</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                    <td>Laudantium consequuntur qui molestiae laborum ratione velit molestias</td>
                    <td>
                      <i class="fa fa-edit cursor btn-header cursor_active"></i>
                      <i class="fa fa-trash cursor btn-header cursor_active"></i>
                    </td>
                  </tr>

                  <tr>
                    <td>6</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                    <td>Laudantium consequuntur qui molestiae laborum ratione velit molestias</td>
                    <td>
                      <i class="fa fa-edit cursor btn-header cursor_active"></i>
                      <i class="fa fa-trash cursor btn-header cursor_active"></i>
                    </td>
                  </tr>

                  <tr>
                    <td>7</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                    <td>Laudantium consequuntur qui molestiae laborum ratione velit molestias</td>
                    <td>
                      <i class="fa fa-edit cursor btn-header cursor_active"></i>
                      <i class="fa fa-trash cursor btn-header cursor_active"></i>
                    </td>
                  </tr>

                  <tr>
                    <td>8</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                    <td>Laudantium consequuntur qui molestiae laborum ratione velit molestias</td>
                    <td>
                      <i class="fa fa-edit cursor btn-header cursor_active"></i>
                      <i class="fa fa-trash cursor btn-header cursor_active"></i>
                    </td>
                  </tr>

                  <tr>
                    <td>9</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                    <td>Laudantium consequuntur qui molestiae laborum ratione velit molestias</td>
                    <td>
                      <i class="fa fa-edit cursor btn-header cursor_active"></i>
                      <i class="fa fa-trash cursor btn-header cursor_active"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                    <td>Laudantium consequuntur qui molestiae laborum ratione velit molestias</td>
                    <td>
                      <i class="fa fa-edit cursor btn-header cursor_active"></i>
                      <i class="fa fa-trash cursor btn-header cursor_active"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                    <td>Laudantium consequuntur qui molestiae laborum ratione velit molestias</td>
                    <td>
                      <i class="fa fa-edit cursor btn-header cursor_active"></i>
                      <i class="fa fa-trash cursor btn-header cursor_active"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. </td>
                    <td>Laudantium consequuntur qui molestiae laborum ratione velit molestias</td>
                    <td>
                      <i class="fa fa-edit cursor btn-header cursor_active"></i>
                      <i class="fa fa-trash cursor btn-header cursor_active"></i>
                    </td>
                  </tr>-->

                </tbody>
              </table>


            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->

          <div class="box-footer clearfix">
            <a [routerLink]="['/admin']" class="btn btn-md btn-default btn-flat pull-left">Regresar</a>
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>

  </section>


  <!-- /.content -->
</div>
