<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Listado
      <small>{{modulo}}</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/admin']">
          <i class="fa fa-dashboard"></i> Inicio</a>
      </li>

      <li class="active">
        <a [routerLink]="['/admin/contratos']">{{modulo}}</a>
      </li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">

            <div class="row">
              <div class="col-sm-12 col-md-12">

                <nav id="mymenu">
                  <label for="tm" id="toggle-menu">Menu
                    <span class="drop-icon">▾</span>
                  </label>
                  <input type="checkbox" id="tm">
                  <ul class="main-menu cf">
                    <li>
                      <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" title="Nuevo Contrato " class="btn-info shadow-box-item">
                        <i class="fa fa-file-o"></i>
                      </a>
                    </li>
                    <li>
                      <a [routerLink]="['/admin/contratos/automaticos/list']" class="btn-info shadow-box-item">Automáticos
                        <span class="fa fav fa-circle"></span>
                        <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
                      </a>
                      <input type="checkbox" id="sm1">
                      <ul class="sub-menu ">
                        <li>
                          <a [routerLink]="['/admin/contratos/automaticos/proporcionales/list']">Proporcionales
                            <label title="Toggle Drop-down" class="drop-icon" for="sm2"> &nbsp; &nbsp;</label>
                          </a>
                          <input type="checkbox" id="sm2">
                          <ul class="sub-menu fix-sub">
                            <li>
                              <a [routerLink]="['/admin/contratos/automaticos/proporcionales/cuota-aparte']">Cuota Parte
                              </a>
                            </li>
                            <li>
                              <a [routerLink]="['/admin/contratos/automaticos/proporcionales/excedente']">Excedente
                              </a>
                            </li>

                            <li>
                              <a [routerLink]="['/admin/contratos/automaticos/proporcionales/facob']">FACOB
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a [routerLink]="['/admin/contratos/automaticos/noproporcionales/list']">No Proporcionales
                            <label title="Toggle Drop-down" class="drop-icon" for="sm3"> &nbsp; &nbsp;</label>
                          </a>
                          <input type="checkbox" id="sm3">
                          <ul class="sub-menu fix-sub">
                            <li>
                              <a [routerLink]="['/admin/contratos/automaticos/noproporcionales/catastroficoxl']">Catastrófico XL

                              </a>
                            </li>
                            <li>
                              <a [routerLink]="['/admin/contratos/automaticos/noproporcionales/operativowxl']">Operativo WXL

                              </a>
                            </li>
                            <li>
                              <a [routerLink]="['/admin/contratos/automaticos/noproporcionales/stoploss']">Stop Loss
                              </a>
                            </li>

                            <li>
                              <a [routerLink]="['/admin/contratos/automaticos/noproporcionales/tentplan']">Tent Plan
                              </a>
                            </li>

                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a [routerLink]="['/admin/contratos/facultativos/list']" class="btn-info shadow-box-item">Facultativos
                        <span class="fa fav fa-circle">
                        </span>
                        <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
                      </a>
                      <input type="checkbox" id="sm1">
                      <ul class="sub-menu">
                        <li>
                          <a [routerLink]="['/admin/contratos/facultativos/proporcionales/list']">Proporcionales
                            <label title="Toggle Drop-down" class="drop-icon" for="sm2"> &nbsp; &nbsp;</label>
                          </a>
                          <input type="checkbox" id="sm2">
                          <ul class="sub-menu fix-sub">

                            <li>
                              <a [routerLink]="['/admin/contratos/facultativos/proporcionales/facultativo']">Facultativo
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a [routerLink]="['/admin/contratos/facultativos/noproporcionales/list']">No Proporcionales
                            <label title="Toggle Drop-down" class="drop-icon" for="sm3"> &nbsp; &nbsp;</label>
                          </a>
                          <input type="checkbox" id="sm3">
                          <ul class="sub-menu fix-sub">
                            <li>
                              <a [routerLink]="['/admin/contratos/facultativos/noproporcionales/facultativo']">Facultativo

                              </a>
                            </li>

                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="javascript:void(0)" class="btn-info custom-padding shadow-box-item"> A&ntilde;o &nbsp;
                        <select class="color-fixed">
                          <option>2018</option>
                          <option>2017</option>
                          <option>2016</option>
                          <option>2015</option>
                        </select>
                      </a>
                    </li>

                    <!-- 
 <li>
              <a href="javascript:void(0)" class="btn-info shadow-box-item">Ajuste Contratos
                <span class="fa fav fa-circle">
                </span>
                <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
              </a>
              <input type="checkbox" id="sm1">
              <ul class="sub-menu">
                <li>
                  <a href="javascript:void(0)">No Proporcionales
                    <label title="Toggle Drop-down" class="drop-icon" for="sm2"> &nbsp; &nbsp;</label>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/admin/contratos/ajuste/sobrecomsion/new']" >Sobre Comisión
                    <label title="Toggle Drop-down" class="drop-icon" for="sm3"> &nbsp; &nbsp;</label>
                  </a>
                </li>

                <li>
                  <a href="javascript:void(0)">Participación Ultilidades
                    <label title="Toggle Drop-down" class="drop-icon" for="sm3"> &nbsp; &nbsp;</label>
                  </a>
                </li>
              </ul>
            </li>
             -->
                    <li class="f-right">
                      <a href="javascript:void(0)" onclick="history.go(-1)" class="btn-info shadow-box-item">Regresar
                        <span class="fav fa fa-circle"> </span>
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- NAV BAR -->
              </div>
            </div>






          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">


              <table id="myData" class="row-border hover" style="display: none">
                <thead>
                  <tr>
                    <th>Contrato</th>
                    <th>Nombre</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Termino</th>
                    <th>Moneda</th>
                    <th>Tipo Contrato</th>
                    <th>Corredor</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of ls | async">
                    <td>{{ item.o }}</td>
                    <td>{{ item.c }}</td>
                    <td>{{ item.r }}</td>
                    <td>{{ item.e }}</td>
                    <td>{{ item.mc }}</td>
                    <td>{{ item.cc }}</td>
                    <td></td>
                    <td>

                      <a [routerLink]="['/admin/contratos/new']">
                        <i class="fa fa-edit cursor btn-header cursor_active"></i>
                      </a>
                      <i class="fa fa-trash cursor btn-header cursor_active"></i>

                    </td>
                  </tr>



                </tbody>
              </table>


            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->

          <div class="box-footer clearfix">
            <a [routerLink]="['/admin']">
              <button type="button" class="btn btn-alert btn-md shadow-box-item" onclick="history.go(-1);">
                Regresar
                <i class="favb fa fa-circle"></i>
              </button>
            </a>
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>

  </section>


  <!-- /.content -->
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header  box box-info">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title font-header" id="myModalLabel">Registrar Contrato</h4>
      </div>
      <div class="modal-body">

        <form>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">A&ntilde;o Contractual</label>
                <input type="text" class="form-control" id="calendar" [(ngModel)]="item.r" name="r">

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputEmail4">Tipo de contrato</label>
                <select class="form-control" [(ngModel)]="item.a2" name="a2">
                  <optgroup label="--Automáticos--" disabled> </optgroup>
                  <optgroup label="Proporcionales">
                    <option value="Cuota Parte">Cuota Parte</option>
                    <option value="Excedente">Excedente</option>
                    <option value="Facultativo">FACOB</option>

                    <optgroup label="No roporcionales">
                      <option value="operativo WXL">operativo WXL</option>
                      <option value="Catastrofico XL">Catastrofico XL</option>
                      <option value="Stop Loss">Stop Loss</option>
                      <option value="Tent Plan">Tent Plan</option>
                    </optgroup>

                    <optgroup label="--Facultativo--" disabled> </optgroup>
                    <optgroup label="Proporcionales">
                      <option value="Facultativo">Facultativo</option>
                    </optgroup>
                    <optgroup label="Proporcionales">
                      <option value="Facultativo NP">Facultativo NP</option>
                    </optgroup>


                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">ID</label>
                <input type="text" class="form-control" [(ngModel)]="item.c" name="newId" placeholder="ID Contrato ">
              </div>
            </div>
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="if(confirm('No se ha guardado la información.\nDesea salir esta página?')){$('#myModal').modal('toggle');}else{return false;}">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="ngRedirect()" data-dismiss="modal">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>