<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Formulario
      <small>{{modulo}}</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/admin']">
          <i class="fa fa-dashboard"></i> Inicio</a>
      </li>

      <li class="active">
        <a [routerLink]="['/admin/companiasreaseguradoras/registrarcorredor']">{{modulo}}</a>
      </li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">



    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">
              Registrar Corredor
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">



              <div class="content">
                <form novalidate (ngSubmit)="create(createForm.value)" #createForm="ngForm">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="e">Entidad</label>
                        <select class="form-control" id="e" name="e" ngModel #e="ngModel" required>
                          <option value="">Seleccione</option>
                          <option *ngFor="let item of Rsltnntdds | async" value="{{item.a}}">{{item.c}}</option>
                        </select>
                        <div *ngIf="e.errors?.required && e.touched" class="alert alert-danger">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-6" style="display: none">
                      <div class="form-group">
                        <label for="c">Cod. Corredor</label>
                        <input type="number"  class="form-control" placeholder="Código Corredor" id="c" name="c" ngModel #c="ngModel" >
                        <div *ngIf="c.errors?.required && c.touched" class="alert alert-danger">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="r">Razón Social</label>
                        <input type="text" class="form-control" (change)="consulta(r.value)" id="r" name="r" placeholder="Razon Social" [(ngModel)]="reaseguroData.c" #r="ngModel"
                          required>
                        <div *ngIf="r.errors?.required && r.touched" class="alert alert-danger">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="na">Nombre Abreviado</label>
                        <input type="text" class="form-control" id="na" name="na" placeholder="Nombre Abreviado" ngModel #na="ngModel" required>
                        <div *ngIf="na.errors?.required && na.touched" class="alert alert-danger">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='row' *ngIf="lisRequest">
                    <li>
                      <ul *ngFor="let item of reaseguroData">
                        <span>{{item.c}}  </span>
                        <span class='btn btn-default left' (click)="cargar(item)">Cargar</span>
                      </ul>
                    </li>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="ni">NIT</label>
                        <input type="text" class="form-control" id="ni" name="ni" placeholder="NIT" ngModel #ni="ngModel" required>
                        <div *ngIf="ni.errors?.required && ni.touched" class="alert alert-danger">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="te">Teléfono</label>
                        <input type="text" class="form-control" id="te" name="te" placeholder="Teléfono" ngModel #te="ngModel" required>
                        <div *ngIf="te.errors?.required && te.touched" class="alert alert-danger">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="d">Dirección</label>
                        <input type="text" class="form-control" id="d" name="d" placeholder="Dirección" ngModel #d="ngModel" required>
                        <div *ngIf="d.errors?.required && d.touched" class="alert alert-danger">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="con">Contacto</label>
                        <input type="text" class="form-control" id="con" name="con" placeholder="Contacto" ngModel #con="ngModel" required>
                        <div *ngIf="con.errors?.required && con.touched" class="alert alert-danger">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="p">País Origen</label>
                        <input class="form-control" id="p" name="p" [(ngModel)]="reaseguroData.cc" #p="ngModel" required>
                        
                        <div *ngIf="p.errors?.required && p.touched" class="alert alert-danger">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="es">Estado</label>
                        <input class="form-control" id="es" name="es" [(ngModel)]="reaseguroData.r" #es="ngModel" required>
  
                        <div *ngIf="es.errors?.required && es.touched" class="alert alert-danger">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="rg">Región</label>
                        <input type="text" class="form-control" id="rg" name="rg" placeholder="Región" ngModel #rg="ngModel" required>
                        <div *ngIf="rg.errors?.required && rg.touched" class="alert alert-danger">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>
                  </div>

                  <button type="button" class="btn btn-alert btn-md shadow-box-item" onclick="history.go(-1);">
                    Regresar
                    <i class="favb fa fa-circle"></i>
                  </button>
                  <button type="submit" class="btn btn-primary" [disabled]="createForm.invalid" class="btn btn-info margin-left btn-md shadow-box-item">
                    Modificar Compa&ntilde;ia
                    <i class="favb fa fa-circle">
                    </i>
                  </button>

                  <button type="button" class="btn btn-info margin-left btn-md shadow-box-item" data-toggle="modal" data-target="#myModal">
                    Datos Bancarios
                    <i class="favb fa fa-circle">
                    </i>
                  </button>

                  <button type="button" class="btn btn-info margin-left btn-md shadow-box-item" data-toggle="modal" data-target="#myModal2">
                    Agregar Contacto
                    <i class="favb fa fa-circle">
                    </i>
                  </button>

                </form>
              </div>



            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->

          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>

  </section>

  <!-- Modal -->

  <!-- /.content -->
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header  box box-info">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title font-header" id="myModalLabel">Datos Bancarios</h4>
      </div>
      <div class="modal-body">

        <form>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Titular / Owner </label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Titular / Owner">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputEmail4">Número de cuenta / Account Number</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Número de cuenta / Account Number">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Moneda / Currency</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Moneda / Currency">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">ABA / SWIFT</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="ABA / SWIFT">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Banco / Bank </label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Banco / Bank">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Pais / Country</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Pais / Country">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Ciudad / City</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Ciudad / City">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Certificación / Certification</label>
                <input type="file" class="form-control" id="inputEmail4" placeholder="Certificación">
              </div>
            </div>
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header  box box-info">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title font-header" id="myModalLabel">Agregar Contacto</h4>
      </div>
      <div class="modal-body">

        <form>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Nombre Contacto</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Nombre Contacto">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputEmail4">Dirección</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Dirección">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Teléfono</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Teléfono">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Correo Electrónico</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Teléfono">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Pais</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Pais">
              </div>
            </div>
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
