<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Formulario
      <small>{{modulo}}</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/admin']">
          <i class="fa fa-dashboard"></i> Inicio</a>
      </li>

      <li class="active">
        <a [routerLink]="['contratos/automaticos/proporcionales/cuota-parte']">{{modulo}}</a>
      </li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">



    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title" style="font-weight: bold">
              {{modulo}}
              <span *ngIf="item.c">: {{item.c}} - {{item.r}} </span>
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">



              <div class="content">
                <form novalidate (ngSubmit)="create(createForm.value)" ngControl="myForm" #createForm="ngForm">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="d">Descripción</label>
                        <input [(ngModel)]="frmValues.d" type="text" class="form-control" placeholder="Descripción" id="d" name="d" ngModel #d="ngModel"
                          required>
                        <div *ngIf="d.errors?.required && d.touched" class="alert alert-danger">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                      <div class="form-group">
                        <label for="fi">Fecha Inicio</label>
                        <input type="text" [(ngModel)]="frmValues.fi" class="form-control calendar" placeholder="Fecha Inicio" id="fi" name="fi"
                          ngModel #fi="ngModel" required>

                      </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                      <div class="form-group">
                        <label for="ff">Fecha Fin</label>
                        <input type="text" [(ngModel)]="frmValues.ff" class="form-control calendar" placeholder="Fecha Fin" id="ff" name="ff" ngModel
                          #ff="ngModel" required>

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="mn">Moneda</label>
                        <select [(ngModel)]="frmValues.mn" class="form-control" id="mn" name="mn" ngModel #mn="ngModel" required>
                          <option *ngFor="let item of currency | async" value="{{item.a}}">{{item.c}}</option>
                        </select>
                        <div *ngIf="mn.errors?.required && mn.touched" class="alert alert-danger">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="s">Siniestros de Contado</label>
                        <input [(ngModel)]="frmValues.s" type="text" value="{{frmValues.s}}" class="form-control" id="s" name="s" ngModel #s="ngModel"
                          required placeholder="Siniestros de Contado">
                        <div *ngIf="s.errors?.required && s.touched" class="alert alert-danger">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <div class="form-group">
                        <label for="o">Observaciones</label>
                      </div>
                    </div>


                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-12">
                      <div class="form-group">
                        <textarea [(ngModel)]="frmValues.o" style="width:100%" id="o" name="o" ngModel #o="ngModel" required cols="30" rows="10"></textarea>
                        <div *ngIf="o.errors?.required && o.touched" class="alert alert-danger">
                          Este campo es requerido
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class=" col-xs-12 col-md-12">




                      <table class="table hoverTable ">
                        <thead>
                          <tr>
                            <th>Contrato</th>
                            <th>Suma Limite</th>
                            <th>% Cesión</th>
                            <th>Nómina Reaseguradores</th>
                            <th>% Reas</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td> 1</td>
                            <td>
                              <input class="input-phantom" [(ngModel)]="frmValues.sl1" id="sl1" name="sl1" ngModel #sl1="ngModel">
                            </td>
                            <td>
                              <input class="input-phantom" [(ngModel)]="frmValues.cs1" id="cs1" name="cs1" ngModel #cs1="ngModel">
                            </td>
                            <td class="cursor_active" (click)="goDetail(createForm.value)"> </td>
                            <td>
                              <input class="input-phantom" [(ngModel)]="frmValues.re1" id="re1" name="re1" ngModel #re1="ngModel">
                            </td>
                          </tr>
                          <tr>
                            <td> 3</td>
                            <td>
                              <input class="input-phantom" [(ngModel)]="frmValues.sl2" id="sl2" name="sl2" ngModel #sl2="ngModel">
                            </td>
                            <td>
                              <input class="input-phantom" [(ngModel)]="frmValues.cs2" id="cs2" name="cs2" ngModel #cs2="ngModel">
                            </td>
                            <td class="cursor_active" (click)="goDetail(createForm.value)"> </td>
                            <td>
                              <input class="input-phantom" [(ngModel)]="frmValues.re2" id="re2" name="re2" ngModel #re2="ngModel">
                            </td>
                          </tr>
                          <tr>
                            <td> 2</td>
                            <td>
                              <input class="input-phantom" [(ngModel)]="frmValues.sl3" id="sl3" name="sl3" ngModel #sl3="ngModel">
                            </td>
                            <td>
                              <input class="input-phantom" [(ngModel)]="frmValues.cs3" id="cs3" name="cs3" ngModel #cs3="ngModel">
                            </td>
                            <td class="cursor_active" (click)="goDetail(createForm.value)"> </td>
                            <td>
                              <input class="input-phantom" [(ngModel)]="frmValues.re3" id="re3" name="re3" ngModel #re3="ngModel">
                            </td>
                          </tr>
                        </tbody>
                      </table>


                    </div>
                  </div>

                  <input type="hidden" id="cntr" name="cntr" ngModel #cntr="ngModel">
                  <button type="button" class="btn btn-alert btn-md shadow-box-item" onclick="history.go(-1);">
                    Regresar
                    <i class="favb fa fa-circle"></i>
                  </button>
                  <button type="submit" class="btn btn-primary" [disabled]="createForm.invalid" class="btn btn-info margin-left btn-md shadow-box-item">
                    Guardar Cambios
                    <i class="favb fa fa-circle">
                    </i>
                  </button>

                </form>

              </div>



            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->

          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>

  </section>

  <!-- Modal -->

  <!-- /.content -->
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header  box box-info">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title font-header" id="myModalLabel">Datos Bancarios</h4>
      </div>
      <div class="modal-body">

        <form>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Titular / Owner </label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Titular / Owner">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="inputEmail4">Número de cuenta / Account Number</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Número de cuenta / Account Number">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Moneda / Currency</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Moneda / Currency">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">ABA / SWIFT</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="ABA / SWIFT">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Banco / Bank </label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Banco / Bank">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Pais / Country</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Pais / Country">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Ciudad / City</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Ciudad / City">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 ">
              <div class="form-group">
                <label for="inputEmail4">Certificación / Certification</label>
                <input type="file" class="form-control" id="inputEmail4" placeholder="Certificación">
              </div>
            </div>
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>