/* You can add global styles to this file, and also import other style files */
#myInput {
   /* background-image: url('/css/searchicon.png');*/ 
    background-position: 10px 12px; 
    background-repeat: no-repeat;
    width: 100%; 
   /* font-size: 16px; */
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px; 
}

#myUL {
   width: 90%;
    z-index: 9999;
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; 
    font-weight: bold;
    margin-top: -1px; 
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none; 
 /*   font-size: 18px; */
    color: black; 
    display: block; 
}

#myUL li a:hover:not(.header) {
    background-color: #eee; 
}