<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Forumulario
      <small>{{modulo}}</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/admin']">
          <i class="fa fa-dashboard"></i> Inicio</a>
      </li>

    </ol>
  </section>

  <!-- Main content -->
  <section class="content">


    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <app-menu-prima-component></app-menu-prima-component>
              </div>
            </div>
            <h3 class="box-title">
              {{modulo}}
            </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">



              <div class="content">
                <form>
                  <div class="row">
                   <!-- <div class="col-xs-12 col-md-6">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="inputEmail4">Sucursal</label>
                            <select class="form-control" name="sucursalSelect" [(ngModel)]="sucursalSelect">
                                <option *ngFor="let s of sucursales" value="s.a" >{{s.r}}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="inputEmail4">Compañia</label>
                            <select class="form-control" name='companiaSelect' [(ngModel)]="companiaSelect">
                              <option *ngFor="let c of compania" value="c.a">{{c.c}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>-->

                    <div class="col-xs-12 col-md-12">
                      <div class="form-group">
                        <label for="inputEmail4">Ramos</label>
                        <input type="text" name="ramos" [(ngModel)]="ramo" disabled id="" class="form-control">
                        <!--<select class="form-control">
                          <option>2018</option>
                          <option>2017</option>
                          <option>2016</option>
                          <option>2015</option>
                          <option>2014</option>
                        </select>-->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="inputEmail4">Identificación del contrato</label>
                        <input type="text" class="form-control" name="identificacion" disabled [(ngModel)]="identificacion" placeholder="Identificación del contrato">
                      </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="inputEmail4">Descripción</label>
                        <input type="text" class="form-control" name="descripcion" disabled [(ngModel)]="descripcion" placeholder="Descripción">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="inputEmail4">Ramo Tecnico</label>
                        <input type="text" class="form-control" id="ramotecnico" name="ramotecnico" disabled [(ngModel)]="ramotecnico" placeholder="Ramo Tecnico">
                      </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="inputEmail4">Subramo / Producto</label>
                        <input type="text" class="form-control" id="inputEmail4" name="ramotecnico" disabled [(ngModel)]="ramotecnico" placeholder="Subramo / Producto">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="row">
                        <div class="col-md-6 col-xs-12">
                          <div class="form-group">
                            <label for="inputEmail4">Poliza</label>
                            <input type="text" class="form-control" [(ngModel)]="poliza" name="poliza"  id="inputEmail4" (change)="changePoliza()" placeholder="Poliza">
                          </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                          <div class="form-group">
                            <label for="inputEmail4">Certificado / Endoso</label>
                            <input type="text" class="form-control" name="certificado" disabled [(ngModel)]="certificado" placeholder="Cerficado / Endoso">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <div class="row">
                        <div class="col-md-6 col-xs-12">
                          <div class="form-group">
                            <label for="inputEmail4">Fecha Emision</label>
                            <input type="text" class="form-control" name="fecha1" disabled [(ngModel)]="fecha1" placeholder="">
                          </div>
                        </div>
                        <!--<div class="col-md-6 col-xs-12">
                          <div class="form-group">
                            <label for="inputEmail4">Fecha Distribucion</label>
                            <input type="text" class="form-control" name="fecha2" [(ngModel)]="fecha2" placeholder="">
                          </div>
                        </div>-->
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="form-group">
                        <label for="inputEmail4">Moneda</label>
                        <input type="text" name="moneda" [(ngModel)]="mondea" disabled id="" class="form-control">
                        <!--<select class="form-control" name="mon" disabled [(ngModel)]="mon">
                          <option *ngFor="let m of money" value="{{m.a}}">{{m.c}}</option>
                        </select>-->
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="">Inicio</label>
                            <input type="text" class="form-control" disabled name="inicio" [(ngModel)]="inicio" id="">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="">Fin</label>
                            <input type="text" name="fin" name="fin" disabled [(ngModel)]="fin" class="form-control">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="">Suma asegurada</label>
                            <input type="text" name="sumaAsegurada" disabled [(ngModel)]="sumaAsegurada" class="form-control" id="">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="">suma asegurada por distribuir</label>
                            <input type="text" name="sumaDistribucion" disabled [(ngModel)]="sumaDistribucion" class="form-control">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="">Prima</label>
                            <input type="text" name="prima" disabled [(ngModel)]="prima" class="form-control" id="">
                          </div>
                        </div>
                        <div class="col-md-6">

                          <div class="form-md-6">
                            <label for="">Prima por Distribucion</label>
                            <input type="text" name="primaDistribucion" disabled [(ngModel)]="primaDistribucion" class="form-control" id="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--<div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="">% Retencion</label>
                            <input type="text" name="retencion" [(ngModel)]='retencion' class="form-control" id="">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="">valor asegurado retencion</label>
                            <input type="text" name="valorAsegurado" [(ngModel)]="valorAsegurado" class="form-control"  id="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="">% Retencion</label>
                            <input type="text" name="retencion" [(ngModel)]="rentencion" class="form-control" id="">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="">Prima Retencion</label>
                            <input type="text" name="primaRetenida" [(ngModel)]="primaRetenida" class="form-control" id="">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>-->
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <button class="btn btn-default btn-lg btn-block">CONTRATOS AFECTADOS</button>
                    </div>
                  </div>
                  <div class="row">
                    <table class="table" style="margin-top:2rem;">
                      <thead>
                        <tr>
                          <th>CONTRATOS</th>
                          <th>TRAMO</th>
                          <th>SUMA RETENIDA</th>
                          <th>SUMA CEDIDA</th>
                          <th>PRIMA RETENIDA</th>
                          <th>PRIMA CEDIDA</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{tabla.contrato}}</td>
                          <td> {{tabla.tramo}} </td>
                          <td>{{tabla.sumaRetencion}}</td>
                          <td>{{tabla.sumaCedida}}</td>
                          <td>{{tabla.primaRetenida}}</td>
                          <td>{{tabla.primaCedida}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="row">
                    <div class="col-md-12 col-xs-12 text-center">
                      <button class="btn btn-primary" style="margin-right: 1rem;">Guardar</button>
                      <button class="btn btn-primary" style="margin-right: 1rem;">Nuevo</button>
                      <button class="btn btn-primary" style="margin-right: 1rem;">Cerrar</button>

                    </div>
                  </div>

                  <a [routerLink]="['/admin']">
                    <button type="button" class="btn btn-alert btn-md shadow-box-item" onclick="history.go(-1);">
                      Regresar
                      <i class="favb fa fa-circle"></i>
                    </button>
                  </a>

                </form>
              </div>



            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->

          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>

  </section>

  <!-- Modal -->

  <!-- /.content -->
</div>